@charset "utf-8";
/* General css created by Developer */
.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
  max-width: 100%;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}
.product_meta,.related.products,.cart-tab.right a.cart-parent,.hiddenqty{
	display: none;
}
#qnty,#days{
	display: inline-block;
}
.cart-tab .widget_shopping_cart_content.open
{
    left: -27em;
}
.variations_button > .quantity
{
	display: none;
}
li.dropdown .cart-pic.cart-parent > img
{
	opacity: 0;
}
li.dropdown .cart-pic.cart-parent:after
{
	display: none;
}
.open .dropdown-menu
{
	display: block;
}
/* Responsive css created by ESOLZ TECHNOLOGY */
.spj {
    font-size: 14px;
    color: #9b0000;
}
.woocommerce a.added_to_cart
{
  display: none !important;
}
.cart_validate
{
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#update_cart,.signindtls,.login,.shipping_address,#update_cart,.note-box,#order_comments_field,.place-order #place_order,table.subscription_details a.cancel
{
  display: none;
}
.modal-calculator .woocommerce-variation.single_variation
{
  display: none !important;
}
.account .tab-content .woocommerce-Message
{
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: none;
}
.account .tab-content .woocommerce-info .woocommerce-Button
{
  display: none;
}
.account .tab-content .woocommerce-info:before,.woocommerce-info
{
  display: none;
}
.account .tab-content .woocommerce-info
{
  border: none;
  display: block;
  text-align: left;
}
.coupon-sec{
	text-align: left !important;
}
.coupon-outer{
	margin-bottom: 12px;
  display: none;
}
.woocommerce-cart .coupon-outer{
   display: block;
}
.coupon-outer a{
	font-weight: 700;
    font-size: 16px;
    color: #9b0000;
}
.woocommerce form.form-row .select2-container a.select2-choice{
border: none;
}
form .form-row.validate-required .select2-container a.select2-choice {
    padding: 20px 15px 6px;
    border-radius: 0;
    height: 66px;
    font-weight: 700;
    color: #666;
}
form .form-row. woocommerce-invalid .select2-container a.select2-choice {
border: 1px #a00 solid;
border-radius: 0;
}
form .form-row.woocommerce-invalid .select2-container a.select2-choice {
/* border-color: #a00; */
}
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

form.woocommerce-ResetPassword.lost_reset_password{
	width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;

}.reset-pass{
	width:100% !important;
	margin-bottom: 10px !important;
}
/*.reset-pass .check-input .form-control, .account .input-text{
	height:50px !important;
}*/

.purchase-center {
    text-align: center;
    padding-bottom: 30px;
}
/*.woocommerce-validated .input-text
{
  border: 1px solid #69bf29 !important;
}*/
/*.woocommerce-invalid .input-text
{
  border-color: #a00 !important;
}*/
/*ul.nav-list li.hide_mobile a
{
  text-transform: capitalize;
}*/

.myaccount ul.nav-list li.hide_mobile a {
  color: #9b0000;
}


.blog-containt nav{
	width: 100%;
}
.blog-containt nav .nav-links{
	text-align: center;
}
.whyomegaimg
{
	float: left;
	margin-right: 10px;
}
.whyomega-box
{
	width: 100%;
    display: inline-block;
    margin: 0;
}
/*.blog-box p a
{
    display: block;
}*/
.woocommerce-invalid select#authnet-token{
  border-color: #c7c1c6 !important;
}


.why-box img {
    margin-bottom: 12px;
}
.carticon
{
  margin-right: 36px;
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after
{
  top: 12px;
}
.blog-box .blog-img
{
  text-align: center;
}

.woocommerce-error li, .woocommerce-info li, .woocommerce-message li
{
  background: #7f1d23;
}
.woocommerce-thankyou-order-received, .woocommerce-message
{
  background: #165d16;
}
.woocommerce-thankyou-order-received, .woocommerce-message {
    background: #fff;
    color: #165C16;
    border: 2px solid #165C16;
    font-size: 18px;
}
.woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
    background: #fff;
    color: #7f1d23;
    border: 2px solid #7f1d23;
    font-size: 18px;
}
.ldd:after {
   content: "";
   background-image: url(../images/loader.png);
   position: fixed;
   width: 55px;
   height: 55px;
   top: 50%;
   z-index: 9999;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   right: 0;

   animation: loader 5s linear  infinite;
   -webkit-animation: loader 5s linear infinite;
   -moz-animation: loader 5s linear  infinite;
}


@-webkit-keyframes loader {
   0% {
       transform: rotate(0deg);
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
/*        opacity: 0;*/
   }
   100% {
       transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
   }
}


@keyframes loader {
   0% {
       transform: rotate(0deg);
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
/*        opacity: 0;*/
   }
   100% {
       transform: rotate(360deg);
       -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
   }
}
.checkout-table-outer {overflow-x: auto;}
.footer-btm-r a {
margin-left: 10px;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
}
.footer-btm-r a:hover { filter: grayscale(0);
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
}
 .call-tck, .call-btl
{
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.call-phn{
    background-image: url(../images/phn.png);
    background-repeat: no-repeat;
    height: 15px !important;
    width: 15px !important;
    display: inline-block;
    margin-right: 2px !important;
    background-position: 0px 0px !important;
}
.address_cell .call-phn{
  background-position: 0 -61px;
  width: 32px;
  height: 22px;
}
.experiance .call-btl{
  background-position: 18px -99px;
  width: 75px;
  height: 75px;
}
.experiance .call-tck{
  background-position: -73px -106px;
  width: 75px;
  height: 75px;
}


.about-oil-detail.default-page {
  padding-top: 120px;
}
.default-page .entry-content p {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0;
}
table.data-table { width: 100%}
table.data-table th, table.data-table tr { padding: 5px 0;}
.testi_cont p {
    color: #666666;
    font-size: 18px;
    font-weight: 300;
}
.testi_row{
  margin-bottom:30px;
}
/*.check-input .wpcf7-form-control {
   background: transparent;
}*/
.summary a.btn.btn-product
{
  margin: 25px 0;
}
/*.modal-calculator .check-input .form-control.mail-pic,.modal-calculator .check-input .form-control.ph-pic,.modal-calculator .check-input .form-control.name-pic
{
  padding: 0;
}*/
ul.custom_class {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f5f5f5;
}

ul.custom_class li a {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  color: #b5121b;
}
ul.custom_class li.current-menu-item a, ul.custom_class li a:hover {
  background: #b5121b;
  color: #fff;
}
ul.custom_class li:last-child a {
  border-bottom: none;
}
.blog_img img
{
  height: 240px;
}
.account #credit-card
{
  width: 100%;
}
.account #authnet-make-default
{
  margin-right: 8px;
}
.account p.make-default label
{
  display: inline-block;
}
body section.about-us.phone-order .woocommerce-info, body section.about-us.phone-order #customer_shipping_details, body section.about-us.phone-order #order_info,body section.about-us.phone-order #customer_billing_details, body section.about-us.phone-order #order_checkout_payment,body section.about-us.phone-order .row.prevsteps
{
  display: block !important;
}
body section.about-us.phone-order #checkout_timeline, body section.about-us.phone-order #form_actions, body section.about-us.phone-order .productAmount.review-pro, body section.about-us.phone-order .checkout-table-outer, body section.about-us.phone-order .address-border
{
  display: none;
}
body section.about-us.phone-order .woocommerce-info{
  position: relative;
  top: 0;
  margin: 0 !important;
}
body section.about-us.phone-order .select2-container.opc-order-search > a.select2-choice.select2-default
{
  height: 33px;
}
body section.about-us.phone-order .select2-container .select2-choice>.select2-chosen
{
  line-height: 32px;
}
body section.about-us.phone-order .one_page_load_order_id_as
{
  margin: 0px;
}
iframe header
{
  display: none;
}

#form_actions.orderStep input.yith-wcms-button.prev,
#form_actions.lastStep input.yith-wcms-button.prev{
	display:inline-block !important;
	margin-right:0;
}

#form_actions.lastStep input.yith-wcms-button.next{
	display:none !important;
}


#pp_full_res {
  overflow: hidden;
}
#pp_full_res iframe  {
  margin-top: -79px;
}
#pp_full_res .footer_outer{
  display: none;
}
body.wait, body.wait *{
 cursor: wait !important;
}
.checkout-header-top
{
  padding-bottom: 10px;
}
ul.nav-list li.hide_mobile a > span
{
    text-transform: lowercase;
    display: block;

}
ul.nav-list li.myaccount
{
  text-align: center;
  vertical-align: bottom;
  position: relative;
    padding-bottom: 15px !important;
}
ul.nav-list li.account_menu a > span
{
  display: block;
  text-transform: lowercase;
  font-size: 12px;
}
.validate_box{
  border: 1px solid #9b0000 !important;
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
td.shipping-product img
{
  width: 50px;
  margin-right: 10px;
}
td.shipping-product .cart-productName
{
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
tr.shipping li.check_in,tr.recurring-total li.check_in
{
  display: block;
  width: 100%;
}
#customer_shipping_details .shippingAddress
{
  margin-top: 10px;
}
body.page-template-phone-order header,body.page-template-phone-order .cart-tab,#product-411 table.variations
{
  display: none;
}
body.page-template-phone-order .woocommerce-checkout fieldset#authnet-cc-form p.form-row:nth-child(4)
{
  display: none !important;
}
body.page-template-phone-order .about-oil-detail
{
  padding: 30px 0;
}
.cusnew .check-input,.n-focus, .cusexist .check-input,.n-focus {
    position: relative;
}
.check-input label,
.checkout-ship .form-row label,
.woocommerce-shipping-fields .form-row label {
    position: absolute;
    z-index: 99;
    top: 0;
    /*left: 17px;*/
    font-size: 12px;
    color: #666;
     transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    font-weight: 300;
    line-height: 38px !important;
}
#customer_billing_details .form-row label {
    left: 0;
    right: 0;
}
/*.cart-product .form-row.warning::after {
    content: '';
    background: #E34F30 !important;
}
.cart-product .form-row.n-focus::after {
    content: '';
    background: none;
}*/
.xxx.n-focus label {
    top: -8px;
}
.single-post .comment-respond .xxx.n-focus input {
    padding-top: 15px !important;
    padding-bottom: 5px !important;
}
.check-input input.form-control {
    padding-top: 32px;
}
/*.checkout-ship .form-row input.input-text{
  border: none;
}*/
/*.n-focus.check-input > label, .n-focus.form-row > label {
    top: 4px;
}*/
/*.check-input:after,.select2-container:after,p.woocommerce-invalid-required-field:after,.form-row.warning.woocommerce-validated:after {*/
  .check-input:after, .form-row:after, .select2-container:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    background: #E34F30;
    content: '';
    -webkit-transition: 0.6s;
    transition: 0.6s;
    height: 0;
    display: inherit !important;
     transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.warning.check-input:after,.warning.form-row:after,.warning .select2-container:after {
    height: 100%;
}
.warning.check-input label, .warning.form-row label{
  color: #E34F30;
}
.success_fld.check-input:after, .success_fld.form-row:after{
  background: #185674;
  height: 0;
}
.page-template-myaccount .woocommerce .account table.my_account_orders th, .page-template-myaccount .woocommerce .account table.my_account_orders td
{
  text-align: center;
}
.account.page-account { display: table;border-top: 1px solid #ccc;}
.page-template-myaccount .account.page-account .tab-content { width: auto; padding: 40px 50px;}
.woocommerce.woocommerce_cart table.shop_table tr td, .woocommerce.woocommerce_cart table.shop_table tr th {
    padding: 15px;
    border-top: 1px solid #999;
    border-right: none;
}

form.checkout_coupon {
    float: left !important;
}
.check-cou {
    float: none;
    height: 40px;
    width: 150px;
}
.woocommerce form .checkout-ship .form-row
{
  position: relative;
  padding: 0;
}
.form-row.woocommerce-validated:after {
    height: 100%;
    background: green;
}
.form-row.woocommerce-invalid .select2-container:after {
    height: 100%;
}
.prevsteps .details_billing {
    padding: 0;
    border: 0;
}
.woocommerce form .form-row.woocommerce-validated .select2-container{
  border: 1px solid rgba(191,191,191,0.5) !important;
}
.woocommerce-shipping-fields .form-row{
  position: relative;
}
#customer_shipping_details .woocommerce-shipping-fields{
  width: 55%;
}
/*#customer_shipping_details .input-text {
    border: none;
}*/
#customer_shipping_details p.form-row{
  padding: 0;
}
#customer_shipping_details .details_shipping{
  border: none;
  padding: 0;
}
input#coupon_code {
    padding: 0 12px;
}
#order_checkout_payment .checkout-head .checkout-table-cell, .page-template-checkout .woocommerce form .woocomerce-FormRow, .page-template-checkout .woocommerce form .submited_signin
{
  text-align: center;
}
a.woocommerce-remove-coupon{
  color: #9b0000;
}
.page-template-myaccount h2.text-center {
    display: none;
}
.page-template-myaccount.logged-in h2.text-center {
    display: block;
}
body.page-template-myaccount.logged-in {
     background: #f9f9f9
}
.cusexist .check-input input.form-control, .cusnew .check-input input.form-control {
    font-weight: 600;
}
.page-template-myaccount .woocommerce form .form-row label.inline, .page-template-checkout .woocommerce form .form-row label.inline {
    display: block;
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: center;
}
.page-template-myaccount .lost_password, .page-template-checkout .lost_password {
    text-align: center;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select,.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
  border-color: inherit;
}
.form-row.warning.woocommerce-validated:after{
  background: none;
  height: 100%;
}


.check-input.form-row span span{
  position: absolute;
  bottom: 2px;
  width: 150px;
  left: 17px;
}
.page-template-contactus .checkout-ship{
  margin-top: 0;
}
.freedose .check-input label{
  left: 50px;
}
.freedose .check-input.form-row {
  padding: 0;
}

#billing_country_field label {
  position: initial;
  color: #666;
}

#billing_country_field strong {
  display: inherit;
  color: #666;
}



.apply .btn-default, .apply .btn.cancel, .apply .button {
    border-color: #BFBFBF !important;
    background-color: #BFBFBF !important;
    color: #F7F7F7;
    padding: 8px 22px;
    border-radius: 4px;
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 15px;
}


.n-focus .apply .btn-default, .n-focus .apply .button {
  background-color: #9b0000 !important;
}


#authnet-token:after {
  background: none!important;
}

#authnet-cc-form .select2-container:after {
  background: none !important;
}


label.select-payment {
  top: 5px !important;
  left: 10px !important;
}

.shippingright {
  text-transform: none;
}
ul#checkout_timeline{
  text-align: center;
  margin: 0 0 20px;
}
ul#checkout_timeline li{
  text-align: center;
  float: none;
}
.feature-cont .close{
  font-size: 30px;
}
.woocommerce_cart .custom-product-detailsA + .custom-product-detailsA{
  border-top: none;
}
.page-template-myaccount .woocommerce .account table.my_account_orders td.order-status{
  text-align: center !important;
}
.woocommerce_cart .other-products .feature-cont .box-pic>img
{
  max-height: 119px;
}
#billing_state_field label{
  top: 15px;
}
.woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
    background: #efefef;
    color: #7f1d23;
    border: 1px dotted #7f1d23;
    font-size: 18px;
}
.woocommerce-thankyou-order-received, .woocommerce-message {
    background: #efefef;
    color: #165C16;
    border: 1px dotted #165C16;
    font-size: 18px;
}
.woocommerce ul#shipping_method li label, .shipping.recurring-total ul li label
.woocommerce ul#shipping_method li label, .shipping.recurring-total ul li label {
    text-transform: none;
}

iframe {
  max-width: 100%;
}
.blog-box{
  padding: 30px;
}
.woocommerce .woocommerce-product-rating .star-rating{
  margin: 0 !important;
}
.woocommerce div.product .woocommerce-product-rating{
  margin: 5px 0;
}
.woocommerce-product-rating span.review-rating-value
{
  display: initial;
}
#secondary .widget a {
    color: #6b6b6b;
}
#secondary .widget ul {
        margin: 0 0 32px 0;
    padding: 0;
    list-style-type: none;
}
#secondary .widget li {
    background: #fff;
    margin: .5em 5px;
    padding: 10px 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 2px;
    list-style-type: none;
}
/* 08.05.2017 Starts */
/*.single-post .check-input.chckTextearea.warning:after{
	height:100px;
	margin-left: 10px;
}*/
.single-post .check-input:after, .form-row:after, .select2-container:after{
   content:none;
}
.single-post .check-input .comment-tran:after,
.single-post .check-input.n-focus .comment-tran:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    background: #E34F30;
    content: '';
    -webkit-transition: 0.6s;
    transition: 0.6s;
    height: 0;
    display: inherit !important;
     transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.single-post .check-input.warning .comment-tran:after {
  height: 100%;
}
.comment-tran {
	position: relative;
}
/* 08.05.2017 Ends */

/*09-05-2017*/
.heading-marg {
  transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.main_nav_outer ul.nav-list > li > a {
  position: relative;
}
.blogTopLinks {
     transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;

}

ul.nav-list li.menu-item-has-children a::before {
  top: auto;
  bottom: 0;
}

/*barun15-05-2017*/
.blog-list-text h3 a:hover {
    color: #212121;
}
div#mce-success-response {
    color: #000;
}
div#mce-error-response {
    color: red;
}




/*
.page-template-videos .heading-marg .about-oil-detail {
    padding-top: 0;
}*/


/*soumya pal 16/5/2017*/
.inr_con {
    margin-bottom: 45px;
}
.inr_con .inr_con_row {
   border-radius: 5px;
   border: 1px solid #eaeaea;
   display: inline-block;
   width: 100%;
}
.inr_con .video_con {
    max-height: 325px;
    overflow: hidden;
    padding: 0px;
}
.inr_con iframe {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    border: 0px;
}
.inr_con .text_con h2 {
    height: 60px;
    overflow: hidden;
    margin-bottom: 20px;
}
.inr_con .text_con .testi_cont {
    height: 280px;
    overflow: hidden;
}
.post_meta_name {
    display: inline-block;
    width: 100%;
    margin: 30px 0px;
    line-height: 22px;
    overflow: hidden;
    color: #9b0000;
}
.post_meta_name a {
    position: relative;
    background-color: #fff;
    z-index: 1;
    color: inherit;
    padding: 10px;
}
.post_meta_name a::after,
.post_meta_name a::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 240px;
    z-index: -1;
    background-color: #acacac;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.post_meta_name a::after {
    left: 0px;
    right: inherit;
}
.post_meta_name a::before {
    right: 0px;
    left:inherit;
}



/*17-05-2017*/
#commentform label {
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
}
body{
	color:#222;
}
/*18-05-2017*/

.blog_img img {
    /*width: auto;*/
}
.blog_img img {
    height: auto;
}
.blog_img a {
    display: block;
    text-align: center;
}

/*19-05-2017*/
.seq-outer {
    /*height: 620px;*/
}
.seq-list {
    background-repeat: no-repeat;
    padding: 500px 0 0;
    background-position: center;
    background-size: cover;
    /*background-size: auto 550px;*/
}
.seq-inner p {
    /*line-height: 28px;*/
}
.seq-inner h2 {
    line-height: 42px;
}



/*123-05-2017*/
.checkout_billing .form-row label,
#authnet-cc-form .form-row.cardfld label {
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.n-focus label,
.checkout_billing .n-focus label,
.cart-product .n-focus label {
 top: 25%;
}
.chckTextearea label {
 top: 10%;
}
.chckTextearea.n-focus label {
 top: 0;
}
.account label,
.billingshipedit .form-row label,
#credit-card #authnet-cc-form .form-row label {
    top: 20%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    margin: 0;
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    padding: 0 15px;
    left: 0;
    right: 0;
}
.billingshipedit .form-row label {
  padding: 0 18px;
}
.account .n-focus label,
.billingshipedit .form-row.n-focus label,
#credit-card #authnet-cc-form .form-row.n-focus label,
#authnet-cc-form .cardfld.n-focus label {
    top: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.account input[type="radio"]+label,
.billingshipedit .form-row label input + label,
#credit-card #authnet-cc-form .form-row label input +label,
#authnet-cc-form .cardfld label input +label {
    pointer-events: all;
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;
    -o-pointer-events: all;
}

.billingshipedit .form-row label,
#credit-card #authnet-cc-form .form-row label
/*#authnet-cc-form .form-row label*/ {
  position: absolute;
  text-align: left;
}
.billingshipedit .form-row
/*#authnet-cc-form .form-row*/  {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
#credit-card #authnet-cc-form .form-row.make-default {
    text-align: left;
}
#credit-card #authnet-cc-form .form-row.make-default label {
    position: static;
    padding: 0;
    width: auto;
    pointer-events: all;
}
.billingshipedit #update_all_subscriptions_addresses_field label {
    position: relative;
    -webkit-transform: none;
    transform: none;
    text-align: left;
    left: auto;
    right: auto;
    width: 100%;
    padding: 0;
}
#update_all_subscriptions_addresses_field label input,
#authnet-cc-form .form-row.make-default input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    text-align: left;
    position: static;
}
.billingshipedit #update_all_subscriptions_addresses_field.form-row
#authnet-cc-form .form-row.make-default {
    text-align: left;
    padding: 0;
}
#authnet-cc-form .form-row.make-default label {
    width: auto;
    line-height: normal;
}
#authnet-cc-form #authnet-cc-fields .form-row {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}
.billingshipedit #update_all_subscriptions_addresses_field.form-row .checkbox,
.checkbox {
    pointer-events: all;
}

.woocommerce #review_form #commentform .comment-form-comment input,
.woocommerce #review_form #commentform .comment-form-comment textarea {
  border: 1px solid #9b0000 !important;
}
.woocommerce #review_form #commentform .comment-form-author input,
.woocommerce #review_form #commentform .comment-form-author textarea,
.woocommerce #review_form #commentform .comment-form-email input,
.woocommerce #review_form #commentform .comment-form-email textarea,
.woocommerce #review_form #commentform .comment-form-title input,
.woocommerce #review_form #commentform .comment-form-title textarea   {
    border: none !important;
    border-bottom: 1px solid #9b0000 !important;
}
.woocommerce #review_form #commentform .form-submit input {
  border: none !important;
  border-radius: 5px;
}
#reviews .commentlist img {
    display: none;
}
.blog_cont h3 a {
  font-size: 20px;
}



/*25-05-2017*/
.jetremember {
    pointer-events: all !important;
    -webkit-pointer-events: all !important;
    -moz-pointer-events: all !important;
    -ms-pointer-events: all !important;
    -o-pointer-events: all !important;
}

.edit-account .form-row label {
    padding: 0 20px;
    text-align: left;
}
.edit-account p.form-row {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
#update_all_subscriptions_addresses_field {
    text-align: left;
}
#s2id_billing_state.select2-container .select2-choice > .select2-chosen {
    line-height: 42px;
}
.billingshipedit .select2-container .select2-choice > .select2-chosen {
    line-height: 40px;
}

#ship-to-different-address .checkbox {
    pointer-events: all;
    -webkit-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;
    -o-pointer-events: all;
}
#customer_shipping_details #shipping_country_field strong {
    display: inline-block;
    vertical-align: middle;
    /*margin-left: 20%;
    line-height: 40px;*/
}
.order .order-actions {
    text-align: left !important;
}

/*29-05-2017*/
#customer_billing_details #billing_country_field label {
    position: static;
    -webkit-transform: none;
    transform: none;
    padding: 0;
}
.checkout-ship .cart-product .account label {
    -webkit-transform: none;
    transform: none;
    left: 0;
    right: 0;
    top: 0;
}
.checkout-ship .cart-product .account::after,
.checkout-ship .cart-product .account::before {
    content: none;
}



/*30-05-2017*/
.account .reset-pass {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
form.woocommerce-ResetPassword.lost_reset_password {
    width: auto;
    max-width: 700px;
}
form.woocommerce-ResetPassword.lost_reset_password input {
    padding-top: 10px;
}


.check-input input.form-control[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0;
	}



/*01-06-2017*/
#authnet-cc-form .cardfld label.select-payment {
padding: 0;
top: 0 !important;
line-height: 24px !important;
-webkit-transform: none;
transform: none;
}
#authnet-cc-form .form-row label {
left: 0;
}

/*05-06-2017*/
.check-freeship,.cart-freeship {
    background: #f9f9f9;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/*13-06-2017*/
h4#credit-cards p {
    margin-top: 12px;
}
/*14-06-17*/
.woocommerce .account table.shop_table td{
	    padding: 10px 15px;
}


.account .n-focus label, .billingshipedit .form-row.n-focus label {
  font-weight: 300;
font-size: 12px;
color: #666;
line-height: 38px;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
}







@media (max-width: 1199px) {
  #authnet-cc-form .cardfld label.select-payment {
      padding: 0 15px;
      left: 2px !important;
  }

  .checkout_validation_error{
	line-height: 16px;
	font-weight: 600;
  }
}

@media (max-width: 480px) {
  #authnet-cc-form .cardfld label.select-payment {
      line-height: 30px !important;
  }
}

@media (max-width: 991px) {
    .inr_con .video_con {
        max-height: 285px;
    }
    .inr_con .text_con .testi_cont {
        min-height: 360px;
    }
}

@media (max-width: 767px) {
    .inr_con .text_con .testi_cont {
        padding-bottom: 30px;
    }
    .inr_con .video_con,
    .inr_con .text_con .testi_cont,
    .inr_con .text_con h2 {
        max-height: inherit;
        min-height: inherit;
        height: inherit;
    }
    .page-template-cartnew .heading-marg{
    	margin-top: 45px;
    }

    .woocommerce-checkout .woocommerce form .form-row {
    	margin-bottom: 25px;
    	border-top: 1px solid rgba(191,191,191,0.5) !important;
	}
}
/*end=======*/

table.gift-crd {
    margin-bottom: 1em;
    border: 0;
    width: 100%;
}

ul.header_right_mnu {
    left: auto;
    top: 33px;
    right: 0;
}
ul.nav-list li.hide_mobile {
    vertical-align: baseline;
}
/*ul.nav-list li {
    vertical-align: top;
}*/
.navbar-absolute .myaccount .header_right_mnu li {
    margin: 0 0 5px;
}
.navbar-absolute .myaccount .header_right_mnu li:last-child {
    margin-bottom: 0;
}
ul.header_right_mnu:before {
    border-bottom: 10px solid #e9e9e9;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
    position: absolute;
    content: "";
    right: 30px;
    top: -10px;
}
.ywgc-template {
    float: left;
    width:48%;
    padding: 0 20px;
}
.ywgc-generator {
    overflow: hidden;
    margin: 0 -20px;
}
.gift-card-content-editor {
    float: left;
    width: 50%;
    padding:0px 20px 20px 45px;
    margin-top: 150px;;
    margin-bottom: 20px;
}
.gift-deta {
    width: 50%;
    float: right;
    padding: 0 20px 0px 23px;
    position: absolute;
    left: 50%;
    margin-top: 30px;
}
.giftpdts-cnt .woocommerce div.product form.cart, .giftpdts-cnt .woocommerce div.product p.cart {
    margin: 0 -20px;
}
.ywgc-preview {
    max-width: 100%;
    margin: 0 auto;
    border: none;
    margin-bottom: 0px;
    box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
    padding: 0px;
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
}
.giftpdts-cnt .ywgc-main-image img {
    width: 100%;
}
.summary .row {
    position: relative;
}
.ywgc-single-recipient input {
    width: 49.5%;
    border-radius: 0;
    font-size: 16px;
    color: #666;
    text-transform: none;
    padding: 6px 15px 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600 !important;
    height: 45px;
    border: 1px solid rgba(191,191,191,0.5) !important;
}
.ywgc-sender-name input {
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    color: #666;
    text-transform: none;
    padding: 6px 15px 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600 !important;
    height: 45px;
    border: 1px solid rgba(191,191,191,0.5) !important;
}
.ywgc-message textarea {
     width: 100%;
        border-radius: 0;
    font-size: 16px;
    color: #666;
    text-transform: none;
    padding: 6px 15px 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600 !important;
    height: 94px;
    border: 1px solid rgba(191,191,191,0.5) !important;
}
.gift-card-content-editor.step-content {
    width: 100%;
    padding: 0 30px 20px;
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}
.giftpdts-cnt .gift-cards-list {
    border-width: 0 0 1px;
    margin-left: 50.5%;
    position: absolute;
    top: 102px;
}
.giftpdts-cnt .gift-cards-list td {
    padding: 0 20px;
}
.ywgc-generator {
    padding-top: 0;
}
.giftpdts-cnt .gift_card_template_button {
    padding-left: 50%;
}
.giftpdts-cnt .gift_card_template_button .single_add_to_cart_button {
    margin-left: 20px;
}
#giftcard_code {
    height: 39px;
    padding: 0 10px;
}
.dropdown-menu {
    margin-top: 40px;
    right: -30px;
}
.cart-tab.right .container-fluid > a {
    position: relative;
    margin-top: 33px;
}

/*add css 15-11-17*/

.summary giftpdts-cnt .gift-deta{
    padding: 0 38px;
}

/*end*/

/*add css 15-11-17*/

.summary .gift-deta h1{
/*
    color: #333333;
    font-weight: 300;
    font-size: 25px;
*/

    font-size: 26px;
    color: #333;
    font-weight: 700;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
.summary .gift-deta h4{
    color: #9b0000;
	font-size: 20px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
.ywgc-editor-section-title{
    font-size: 16px;
    color: #333333;
    padding: 27px 0 20px;
}
.gift-card-content-editor label{
    color: #666666;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
.ywgc-single-recipient input{
    height: 62px;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
}
.ywgc-card-message{
    padding: 6px 30px;
}


.ywgc-card-message {
   padding: 15px 30px;
   font-style: italic;
   color: #333;
}
.ywgc-card-message {
   padding: 15px 30px;
   font-style: italic;
   color: #9b0000;
}
.ywgc-card-code {color: #666;}

.summary .cart-item h4{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    color: #333;
    text-transform: uppercase;
}
.summary .cart-item .check_in label{
    font-size: 13px;
}
.summary .cart-item .check_in input[type="radio"] + label::after {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #d6d6d6;
    width: 22px;
    height: 22px;
}
.summary .cart-item.variablecart h4{
    width: 28%;
    margin-bottom: 22px;
}
/*.summary h4.free-ship{
    font-size: 18px;
    color: #222;
    font-weight: 400;
    margin-bottom: 15px;
}*/
.cart-tab .woocommerce-message{
    display: none;
}

.cart-tab .woocommerce-error{
    display: none;
}
/*end*/


p.form-row.account.gift-card {
    margin-top: 12px;
}

.ywgc-have-code {
    display: none;
}

.ywgc-gift-card-applied th{
    border-right: 1px solid #eee !important;
}

/* 17.11.2017 Sayak Starts */
.ywgc-remove-gift-card{
	color: #9b0000;
}
/* 17.11.2017 Sayak Ends */
/* 28-06-2018 */
.payment_box input[type="radio"]:checked+label:after{
background: url('../images/check-pic.jpg');
background-repeat: no-repeat;
background-position: center 1px;
}

.payment_box > .form-row label {
    position: relative;
}

.cl-phn{
    color: #666666;
    font-size: 14px;
}

.cl-phn:hover{
    color: #000
}
.subtotal .amount span {
	vertical-align: 0;
	display: inline-block;
}
.cart-top .cart-productName .woocommerce-Price-currencySymbol {
	vertical-align: 0;
}
span.out-of-stock {
    color: red;
    font-weight: 600;
    display: block;
    text-align: right;
    /* margin-bottom: 15px; */
}
