@charset "utf-8";
/* Responsive css created by Developer */
/*@media (min-width: 1200px) {}

@media (min-width: 768px) {}
@media (max-width: 1199px) {}
@media (max-width: 990px) {}
@media (max-width: 767px) {}
@media (max-width: 568px) {}
@media (max-width: 480px) {}
@media (max-width: 420px) {}*/

/****************************************************/
@media (min-width: 1200px) {
	
}
/****************************************************/
@media (min-width: 991px) {
    .page-template-testimonial .heading-marg,
    .page-template-videos .heading-marg {
        margin-top: 168px;
    }
    /*.submenu_open .heading-marg {
        padding-top: 114px;
        transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
        -ms-transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
    }
    .submenu_open .blogTopLinks {
        padding-top: 127px;
    }*/
  
}
/****************************************************/
@media (min-width: 768px) {

}
/****************************************************/
@media (min-width: 1400px) {
    .container {
        width: 1200px;
    }
    .container-fluid {
        max-width: 1500px;
        margin: 0 auto;
    }
    [class*=col-sm-], [class*=col-md-], [class*=col-xs-], [class*=col-lg-] {
        padding-left: 20px;
        padding-right: 20px;
    }
    .row {
        margin: 0 -20px;
    }
        
    .row.blog_row {
        margin-bottom: 30px;
    }
    .row.blog-containt {
        margin-top: 30px;
    }
    
    #checkout_timeline li .timeline-wrapper .timeline-step{
	//	width: 100%;
	}
}
/****************************************************/
@media (max-width: 1199px) {
	select#authnet-token{
		padding-left: 11px;
	}	
	ul.nav-list li:first-child {
        /* margin-left: 14px; */
    }
   /* ul.nav-list li {
        margin: 0 8px;
    }*/
    ul.nav-list li a{
        font-size: 13px;
    }
    .navbar-brand{
        width: 150px;
    }
    .navbar-brand > img{
        width: 100%;
    }
   /* .navbar-absolute {
        top: -3px;
    }*/
    .navbar-absolute .nav-list li {
        padding: 0 !important;
        margin: 0 6px;
    }
    
    ul.nav-list li:first-child {
        margin-left: 20px;
    }
    
    ul.nav-list li {
        margin: 0 6px;
    }
    ul.nav-list {
        margin: 25px 0 0;
    }
    .product-box{
        padding: 0;
    }
    .other-products.feature-cont .product-box{
        padding: 0 45px;
    }
    .feature ul li {
        margin-bottom: 7px;
    }
    .blog_like_cell {
        font-size: 12px;
    }
    .like_cell li + li {
        margin-left: 2px;
    }
 
   
    .social_links li {
        margin: 0;
    }
    .summary-list-outer ul li {
        font-size: 15px;
    }
    .account .tab-content ul li address {
        margin-bottom: 20px;
    }
    #menu-top-right-menu {
        margin-right: 10px;
    }
    .btn.btn-product {
	   /*white-space: normal;
        text-align: left;
        font-size: 12px;
        padding: 10px;*/
	       white-space: normal;
	text-align: left;
	font-size: 15px;
	padding: 10px;
    }
    .btn.btn-product img {
        display: none;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        top: 105px;
    }
    .blog-det .product-box {
        min-height: 537px;
    }
    .searcl-l {
        width: 85%;
    }
    .blog-banner .seq-list {
        padding: 70px 0 0;
    }
    .searchandfilter ul li input[type="submit"] {
        padding: 10px 22px;
        font-size: 14px;
    }
    .searchandfilter ul li:first-child {
        width: 61%;
    }
    .searchandfilter ul li:nth-child(2) {
        width: 28%;
    }
    .why-box {
        margin-bottom: 50px;
    }
    .seq-list {
       padding: 450px 0 0;
    }
    .text-container {
        margin-left: 0;
    }
    .seq-inner {
        padding: 40px 0;
    }
    .seq-list h2 {
        margin-bottom: 10px;
    }
    .seq-list p {
        font-size: 16px;
    }
    .overview {
        padding-bottom: 20px;
    }
    


    /*09-05-2017*/

    
    .blog-banner {
        padding-left: 0;
        padding-right: 0;
    }
    #secondary .widget li {
    padding: 6px 10px;
    }
    .widget_categories ul li a {
    font-size: 14px;
    }
    .blog-box p {
    font-size: 15px;
    }
    .blog-list-text h3 a {
    font-size: 23px;
}



/*24-05-2017*/

.seq-outer .text-container {
    /*display: table;
    -webkit-display: table;
    -moz-display: table;
    -ms-display: table;
    -o-display: table;
    height: 100%;
    width: 652px;*/
}
.seq-outer .text-container .row {
    /*display: table-cell;
    -webkit-display: table-cell;
    -moz-display: table-cell;
    -ms-display: table-cell;
    -o-display: table-cell;
    vertical-align: middle;*/
}
.seq-inner h2 {
    /*line-height: 32px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.9px;*/
}
/*.seq-outer:first-child {
    height: 448px;
}
.seq-outer:first-child .seq-list {
    padding-top: 448px;
    background-size: auto 448px;
}
.seq-outer:nth-child(2) {
    height: 620px;
}
.seq-outer:nth-child(2) .seq-list {
    background-position: center left 30%;
    background-size: auto 620px;
}
.seq-outer:nth-child(3) {
    height: 620px;
}
.seq-outer:nth-child(3) .seq-list {
    background-position: center right 15%;
    background-size: auto 620px;
}
.seq-outer:nth-child(4) {
    height: 620px;
}
.seq-outer:nth-child(4) .seq-list {
    background-position: center left 55%;
    background-size: auto 620px;
}
.seq-outer:nth-child(5) {
    height: 620px;
}
.seq-outer:nth-child(5) .seq-list {
    background-position: center right 35%;
}*/


/*29-05-2017*/
/*.cart-product ul {
    max-height: inherit;
}*/
.productAmount {
    padding: 10px 0 10px;
}

/*01-06-2017*/

}
/****************************************************/

@media (max-width: 991px) {
	.woocommerce form .checkout-ship .form-row{
		margin-bottom: 35px;
		
	}
	.cart-tab.right .container-fluid > a {
   	 line-height: normal;
   	 padding-top: 16px;
   }
}
@media (max-width: 990px) {
	
    .gifts-pdts {
        padding-left: 0px; 
    }
    .gifts-pdts:before {
        display: none;
    }

	.nav_icon{
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        top: 10px;
        width: 100px;
        padding: 23px 26px;
    }
   
    .nav_icon span{
        width: 100%;
    }
    .navbar-absolute {
        top: 10px;
    }
    ul.nav-list li.show_mobile{
        display: block;
    }
    ul.nav-list li.hide_mobile, .hide_mobile{
        display: none;
    }
    .main_nav_outer ul.nav-list {
        margin:0;
    }
    .main_nav_outer ul.nav-list li:first-child {
        margin-left: 0;
    }
    .main_nav_outer ul.nav-list li{
        margin:0;
        display: block;
    }
    .header-rel{
        padding: 5 76px;
        text-align: center;
    }
    .navbar-brand{
        float: none;
        display: inline-block;
    }
    .navbar-header{
        float: none;
    }
/*
    header{
        border:none;
    }
*/
    .navbar-absolute{
        right: 15px;
    }
    .banner-cont p, .banner-cont h1::after{
        display: none;
    }
    .banner-cont h1 {
        font-size: 42px;
        margin-bottom: 15px;
    }
    .banner-cont h3{
        font-size: 22px;
        margin-bottom: 7px;
    }
    .btn-default {
        font-size: 14px;
        padding: 12px 35px;
    }
    .banner-cont{
        width: 400px;
    }
    .feature-cont-col p{
        display: none;
    }
    .product-box h4{
        font-size: 16px;
    }
    .experiance{
        padding: 40px 0;
    }
    .story_cont{
        padding: 0;
    }
    ul.nav-dropdown{
        position: static;
        padding: 25px;
    }
    ul.nav-dropdown li{
        margin: 0 !important;
    }
    ul.nav-list li > ul.nav-dropdown li{
        border-bottom: 1px solid #c34046;
    }
    ul.nav-list li > ul.nav-dropdown li:last-child{
        border:none;
    }
    ul.nav-dropdown li a{
        color: #000;
    }
    ul.nav-list li.nav-rel > a:before{
        display: none;
    }
    ul.nav-dropdown li a > span{
        display: inline-block;
        height: auto;
        vertical-align: middle;
    }
    ul.nav-dropdown li a > span img{
        max-width: 21px;
    }
    .main_nav_outer{
        margin: 0 !important;
    }
    .subscription-inner {
        padding: 50px 0;
    }
    .header{
        position: relative;
    }
    .main_nav_outer {
        left: -203px;
        position: fixed;
        top: 0px;
        z-index: 1;
        background-color: #f4f4f4;
        padding: 0;
        width: 203px;
        height: 100%;
        bottom: 0;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        z-index: 999;
    }
    .open_nav .main_nav_outer {
        left: 0;
    }
    
    .main_nav_outer ul.nav-list {
        background-color: #f4f4f4;
        text-align: left;
    }
    .body-bg {
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
    }
    .body-bg.open_nav, .body-bg.open_nav .header {
        margin-left: 203px;
        margin-right: -203px;
         
    }
    
/*
    .header-rel{
        position: static;
    }
*/
    ul.nav-list li{
        border-bottom: 1px solid #d8d8d8;
    }
    ul.nav-list li a {
        font-size: 13px;
        font-weight: 300;
        padding:15px 10px;
        text-transform: uppercase;
    }

    .navbar-absolute .nav-list li a {
        font-size: 12px;
    }

    ul.nav-dropdown li a > span > img{
        display: none;
    }
    .main_nav_outer ul.nav-list > li > a {
        padding-bottom: 15px;
    }
/*
    ul.nav-dropdown li:hover a, .main_nav_outer ul.nav-list > li:hover > a{
        background-color: #ddd;
        color:#000;
    }
*/
/*
    ul.nav-list li.nav-rel:hover ul.nav-dropdown, ul.nav-list li.nav-rel:hover > a:before{
        display: none;
    }
    ul.nav-list > li.nav-rel:hover > ul.nav-dropdown{
        display: block;
    }
*/
/*
    ul.nav-list li.nav-rel > a:after{
        position: absolute;
        top: 50%;
        margin-top: -5px;
        width: 20px;
        height: 10px;
        margin-left: 15px;
        content: '';
        background-image: url(../images/arrow_bot.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
*/
    .navbar-absolute ul.nav-list li{
        border-bottom: none;
    }
    .navbar-absolute ul.nav-list{
        margin-top: 0;
    }
    ul.nav-list li > ul.nav-dropdown li a{
        color:#fff;
        display: block;
    }
/*
    ul.nav-list li > ul.nav-dropdown li:hover a{
        color:#000;
    }
*/
    .about-oil-detail {
        padding: 40px 0;
    } 
    .about-oil-detail h3 {
        margin-bottom: 20px;
    }
    .about-oil-detail p {
        margin-bottom: 30px;
    }
    .oil-market {
        padding: 40px 0;
    }
    .market-cell {
        font-size: 16px;
    }
    .seq-list h2 {
        margin-bottom: 20px;
    }
    .seq-list p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .team {
        padding-top: 40px;
    }
    .team-list ul li {
        width: 24%;
    }
    .showDiv ul li h4 {
        font-size: 14px;
    }
    .overview {
        padding: 30px 0;
    }
    .overview p {
        font-size: 16px;
    }
    .over-iiner {
        margin-bottom: 30px;
    }
    .overview h3 {
        margin-bottom: 15px;
    }
    .overview h3 {
        font-size: 16px;
    }
    .product-detail {
        margin-top: 0;
    }
    /*.heading-marg {
        margin-top: 0;
    }*/
    .account .tab-content {
        padding: 20px;
    }
    .carTop {
        padding-bottom: 25px;
    }
    .woocommerce table.shop_table {
        margin-bottom: 25px;
    }
    .other-products {
        margin-top: 65px;
    }
    .checkout-r .btn-default {
        min-width: inherit;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        display: table-cell;
        vertical-align: top;
    }
    td.product-name > a {
        float: left;
    }
    .product-name > span {
        margin-left: 1px;
    }
/*
    .variation, .woocommerce td.product-name dl.variation {
        margin-left: 45px;
    }
*/
    td.product-name a img {
        margin-right: 8px;
    }
    #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
        height: 33px;
    }
    ul.nav-dropdown li.aboutus a {
        background-position: center 20px;
        padding: 70px 20px 20px;
    }
    .product-box .btn-product {
        margin-top: 15px;
    }
    .check-input .form-control, .account .input-text {
    /* height: 70px; */
    }
    .woocommerce form .form-row {
        margin-bottom: 15px;
    }
    .select2-container .select2-choice {
    /*    height: 50px; */
    }
    .select2-container .select2-choice > .select2-chosen {
        line-height: 50px;
    }
    .check-input label, .form-row label {
        font-size: 14px;
    }
    .shippingAddress {
        margin-top: 20px;
    }
    .addressList {
        border-top: 1px solid #bfbfbf;
        padding: 20px;
    }
    .note-card {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .header.sticky {
        padding: 10px 0 0;
    }
    .header {
        position: fixed;
    }
    .admin-bar .header {
        margin-top: 45px;
        
    }
    .admin-bar .header.sticky {
        margin-top: 30px;
    }
  
   
    /*.heading-marg {
        margin-top: 70px;
    }*/
    .admin-bar .header {
        margin-top: 32px;
    }
    .admin-bar .cart-tab {
        top: 57px;
    }
    .admin-bar .heading-marg {
        margin-top: 70px;
    }
    .detail_page h1 {
        margin: 130px 0 30px;
    }
    .nav_icon {
        padding: 10px 26px;
    }
    .slick-slider {
        margin-bottom: 20px;
    }
    .woocommerce-lost-password .account {
        margin-bottom: 30px;
    }
    .admin-bar .shopping{
        padding-top: 70px;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        top: 95px;
    }
    .user-address h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .submit-purchase {
        padding: 10px 0;
    } 
    .review .checkout-table-outer {
        overflow-x: auto;
    }

    .review .checkout-table {
        margin-bottom: 15px;
    }
    .productAmount.review-pro {
        float: none;
        width: auto;
    }
    ul.checkout-process li {
        margin: 0 20px;
    }
    ul.checkout-process li:after {
        right: -20px;
    }
   
    .blog-det .box-pic {
        line-height: 100px;
    }
    .blog-det .product-box {
        min-height: 300px;
    }
    .searcl-l {
        padding: 2px 20px;
    }
    .customer-health a, .customer-social ul li a {
        font-size: 13px;
    }
    .blog-box h2 {
        font-size: 23px;
    }
    .blog-img,.innovation {
        margin-bottom: 30px;
    }
    .seq-list .col-md-5.col-md-offset-7 {
        background: rgba(255,255,255,0.7);
        padding: 25px;
    }
    .blog-list-pic {
    width: 100%;
    /*height: 150px;*/
    float: none;
    border-top-left-radius: 5px;
    overflow: hidden;
    border-top-right-radius: 5px;
}
   
    .admin-bar .blog-top {
        margin-top: 25px;
    }
    .blog-banner h2 a, .blog-banner h2 {
        font-size: 19px;
        display: block;
    }
    .searchandfilter ul li:first-child {
        width: 56%;
    }
    .searchandfilter ul li:nth-child(2) {
        width: 30%;
    }
    .seq-list {
        background-color: #eeeeeb;*/

		padding: 400px 0 0;
		background-size: auto 450px;
    	background-position: center;
    }
  /*  .seq-list:nth-child(2n) {
        background-position: center left;
        background-color: #f9f9f9;
    }*/
    .seq-inner {
        padding: 20px 0;
    }
    
    
    .main_nav_outer{
        overflow: hidden;
    }
    .nav-list{
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        
    }
    /*.submenu_open .main_nav_outer ul.nav-list, .submenu_acount .main_nav_outer ul.nav-list{
        width: 203px;
        margin-left: 203px;
    }*/
    ul.nav-dropdown li a {
        background-image: none !important;
        padding: 15px !important;
        font-size: 14px;
    }
       ul.nav-dropdown {
        position: absolute;
        z-index: 999;
        left: -406px;
        top: 0;
        width: 203px;
        display: block !important;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        bottom: 0;
        padding: 0px 0 0 0;
        text-align: left;
        background: #F4F4F4;
    }
    .open ul.nav-dropdown{
        left: 0;
    }
    .seq-list h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .seq-list {
        padding: 400px 0 0;
    }
    .seq-list p {
        font-size: 13px;
    }
    .open_nav .overlay {
        display: block;
    }
    .account .tab-content {
        /*overflow-x: auto;*/
        overflow: hidden;
    }
    .nav-tabs.nav-cell {
        display: none;
    }
    .account .tab-content {
        border-left: none;
    }
    /*ul.nav-dropdown {
        background: transparent;
    }*/
    ul.nav-list li > ul.nav-dropdown li a {
        color: #333333;
    }
    ul.nav-list li > ul.nav-dropdown li {
        border-bottom: 1px solid #d8d8d8;
    }
   
    ul.nav-list li > ul.nav-dropdown li a:hover {
        color: #b30f16;
        background: transparent;
    }
    .main_nav_outer ul.nav-list li.show_mobile ul.header_right_mnu {
        display: block;
        padding: 0;
        background: #f4f4f4;
        left: -220px;
       
    }
    ul.header_right_mnu {
        top: 39px;
        height: 100%;
    }
    ul.header_right_mnu:before {
        position: absolute;
        left: 0;
        top: -35px;
        width: 100%;
        content: "\f053";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #666;
        border-bottom: 1px solid #ccc;
        padding: 5px 0 5px 15px;
        cursor: pointer;
        background: #f4f4f4;
    }
    .account_menu a {
        position: relative;
    }
    .account_menu a:after {
        position: absolute;
        right: 0;
        top: 0px;
        padding: 0 10px;
        content: "\f054";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #666;
        line-height: 50px;
        border-left: 1px solid #ccc;
        text-align: center;
        bottom: 0;
    }
    ul.header_right_mnu a:after {
        display: none;
    }
    .submenu_acount .main_nav_outer ul.nav-list li.show_mobile ul.header_right_mnu {
        left: 0;
    }
   .admin-bar .main_nav_outer {
        top: 30px;
    }
    .menu-item-has-children a {
        position: relative;
    }
    .menu-item-has-children a:after {
        position: absolute;
        right: 0;
        top: 0px;
        padding: 0 10px;
        content: "\f054";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #666;
        line-height: 50px;
        border-left: 1px solid #ccc;
        text-align: center;
    }
     ul.nav-dropdown a:after {
        display: none;
    }
     ul.nav-dropdown {
        top: 35px;
    }
     ul.nav-dropdown:before {
        position: absolute;
        left: 0;
        top: -35px;
        width: 100%;
        content: "\f053";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #666;
        border-bottom: 1px solid #ccc;
        padding: 5px 0 5px 15px;
        cursor: pointer;
        background: #F4F4F4;
    }
   
      ul.nav-list li.nav-rel.open > a::before {display: none;}
    
    .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
        padding: 15px;
    }
     .checkout_shipping ul#shipping_method li label {
        font-size: 13px;
    }
    .woocommerce ul#shipping_method li {
        padding-left: 0;
    }
    .page-template-checkout .nav_icon {
        display: none;
    }
    .page-template-myaccount .account.page-account .tab-content {
        padding: 30px 0 0;
    }
    .woocommerce-orders .tab-content {
        overflow-x: auto;
    }
    .woocommerce-orders .account.page-account {
        display: block;
    }
    /*.check-input label, .check-input label, .checkout-ship .form-row label, .woocommerce-shipping-fields .form-row label {
        top: 28px;
    }
    .n-focus.check-input > label, .n-focus.form-row > label {
        top: 15px;
    }*/


    /*09-05-2017*/

#secondary .widget li {
    padding: 5px 8px;
    margin: 3px 0;
}
#secondary .widget a {
    font-size: 13px;
}
.contactBlog h4 {
    font-size: 17px;
}
.socBlog li {
    margin: 0 4%;
}
.address_cell .call-phn {
    float: left;
}
.address_cell span {
    overflow: hidden;
    display: block;
}
.social_links li a {
    font-size: 16px;
}
.blog-box {
    padding: 0;
}
.blog-left .customer-social ul li {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.blog-cont-new {
    padding: 30px 15px;
    background: #fff;
    box-shadow: 0 7px 15px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 7px 15px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 7px 15px rgba(0,0,0,0.07);
    -ms-box-shadow: 0 7px 15px rgba(0,0,0,0.07);
    -o-box-shadow: 0 7px 15px rgba(0,0,0,0.07);
}
    /*---10-05-17--*/
    .blog-list-text {
    margin-left: 330px;
    padding: 20px;
}
    #secondary{display: none;}





    .page-template-testimonial .heading-marg,
    .page-template-videos .heading-marg {
        margin-top: 152px;
    }

    .menu-item-has-children a:hover:after {
        background: #e0dede;
    }

    /*24-05-2017*/
 /*   .seq-outer:nth-child(4) .seq-list {
        background-position: center left 42%;
    }
    .seq-outer:nth-child(3) .seq-list {
        background-position: center right 35%;
    }
    .seq-outer:nth-child(2) .seq-list {
    background-position: center left 43%;
    }
    .seq-outer:first-child .seq-list {
        background-position: center right 19%;
    }*/


    /*24-05-2017*/

    /*.check-input label, 
    .checkout-ship .form-row label,
    .woocommerce-shipping-fields .form-row label {
            
    }
    .xxx.n-focus label {

    }*/



    /*26-05-2017*/
    .account .page-account .nav-tabs {
        display: table;
        width: 100%;
        float: none;
    }
    .account .page-account .tab-content {
        display: block;
        width: 100%;
    }
    .account .page-account .nav-tabs li {
        display: table-cell;
        vertical-align: middle;
    }
    .account .page-account .nav-tabs li a {
        padding: 10px 5px;
        font-size: 15px;
        text-align: center;
        position: relative;
        height: 100%;
    }
    .account .page-account .nav-tabs li:last-child a {
        white-space: nowrap;
    }

    .account.page-account .woocommerce-Pagination {
        margin-bottom: 30px;
    }

    .product-detail {
        padding-top: 100px;
    }

    header.header ul.nav-list li ul.nav-dropdown li.active a {
        color: #b41019;
    }
    header.header ul.nav-list li.menu-item-has-children.open > a::before {
        content: none;
    }
    
    
   /*27-05-2017*/
  .seq-outer:nth-child(2n) .seq-list {
background-position: center;
}

/*.account .tab-content .woocommerce_account_subscriptions {
    overflow-x: auto;
}*/
     .ywgc-single-recipient input {
        width: 49%;
    }
    
    .cart-tab.right .container-fluid > a {
        margin-top: 20px;
    }
    
    .productPara .seq-inner p {
        line-height: 19px;
        font-size: 13px;
    }
    
}
/****************************************************/
@media (max-width: 782px) {
    .admin-bar .header {
        margin-top: 46px;
    }
    .admin-bar .main_nav_outer {
        top: 45px;
    }
}

/****************************************************/
@media (max-width: 767px) {
	.woocommerce form .checkout-ship .form-row{
		margin-bottom: 25px;
	}
	
	.woocommerce-checkout #billing_first_name_field {
	    border-top: 1px solid rgba(191,191,191,0.5) !important;
	    margin-bottom: 25px;
	}
	
	.woocommerce-checkout .woocommerce form .form-row {
    	margin-bottom: 25px !important;
	}
	
	.checkout_validation_error{
		display:block;
	}
    .blog-news-date {
        margin-top: 0px;
    }

	.gifts-pdts::before {
	    position: absolute;
	    content: '';
	    width: 30px;
	    height: 30px;
	    background: url(../images/gift.jpg);
	    position: absolute;
	    top: 47%;
	    transform: translateY(-50%);
	    left: 0;
	    /*margin-top: -15px;*/
	    background-repeat: no-repeat;
	}
	/*.gifts-pdts {
	    position: relative;
	    padding-left: 18px;
	}*/
	ul#checkout_timeline li{
		padding: 0 2px !important;
	}
	
	#checkout_timeline.style1 li .timeline-wrapper .timeline-label{
		letter-spacing: 0;
	}


    .banner-cont h1 {
        font-size: 27px;
        margin-bottom: 8px;
    }
    .banner-cont h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .btn-default {
        font-size: 13px;
        padding: 12px 35px;
    }
    .banner-cont {
        width: 230px;
    }
    .woocommerce_cart table.shop_table
    {
        margin-bottom:0;
    }
    .feature{
        display: none;
    }
    .hidden_col{
        display: block;
    }
    .feature-cont{
        border-top: 1px solid #cccccc;
    }
    .feature-cont-col{
        float: left;
        width: 50%;
        padding: 30px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .other-products .feature-cont .feature-cont-col 
    {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 30px; 
    }
    .woocommerce_cart .checkout-r{
        text-align: left;
        padding-bottom: 20px;
    }
    .woocommerce_cart .checkout-r span + span{
        float: right;
    }
    .woocommerce_cart .checkout-r span.woocommerce-Price-amount{
        font-size: 14px;
    }
    .other-products .feature-cont .feature-cont-col .product-box h4{
        height: auto;
    }
    .woocommerce_cart .checkout-r span{
        margin-bottom: 0px;
    }
    .feature-cont-col:nth-child(2n){
        border-right: none;
    }
    .box-pic > img {
        max-height: 140px;
        max-width: inherit;
    }
    .box-pic {
        height: 165px;
        line-height: 165px;
    }
    .product-box h4 {
        font-size: 16px;
        margin: 9px 0;
    }
    .product-box p{
        font-size: 12px;
    }
    .product-box h5{
        font-size: 15px;
    }
    .feature-cont{
        padding-bottom: 0;
    }
    .feature-product{
        padding:43px 0 0 0;
    }
    .feature-product .btn, .blog_section .btn, .add-cart .btn  {
        width: 100%;
        border-radius: 0;
        padding: 15px;
        font-size: 16px;
    }
    .feature-product .container, .blog_section .container{
        padding: 0;  
    }
    .blog_section{
        padding-bottom: 0;
    }
    .feature-product .row, .blog_section .row{
        margin-right: 0;
        margin-left: 0;
    }
    h2{
        font-size: 22px;
        margin-bottom: 9px;
    }
    .feature-product h3 {
        margin-bottom: 23px;
    }
    h3 {
        font-size: 14px;
    }
    .experiance{
        padding: 30px 0;
    }
    .xprince-box h4{
        font-size: 15px;
    }
    .xprince-box h5{
        font-size: 13px;
    }
    .exeriance-pic {
        height: 90px;
        line-height: 90px;
        width: 90px;
    }
    .exeriance-pic img{
        max-height: 40px;
    }
    .blog_section{
        padding: 30px 0 0 0;
    }
    .blog_heading p{
        font-size: 12px;
    }
    .blog_heading {
        margin-bottom: 20px;
    }
    .blog_like_cell{
        font-size: 12px;
    }
    .like_cell li a span:first-child img{
        max-width: 14px;
    }
    .blog_cont{
        padding: 0;
    }
    .blog_cont h3{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .blog_cont p{
        font-size: 13px;
    }
    .blog_cont{
        margin-bottom: 20px;
    }
    .col-sm-4:last-child .blog_cont{
        margin-bottom: 0;
    }
    .blog_like_cell{
        margin-bottom: 15px;
    }
    .center_align{
        float: none !important;
    }
    .story_cont{
        text-align: center;
    }
    .story_cont h2 {
        margin-bottom: 12px;
    }
    .story_cont p{
        font-size: 13px;
    }
    .footer_outer{
        padding: 40px 0 0;
        text-align: left;
    }
    .address_cell{
        padding: 0;
    }
    .footer_outer .col-sm-4{
        margin-bottom: 35px;
    }
    .footer_outer .col-sm-4:last-child{
        margin-bottom: 0;
    }
    .footer_outer h2{
        margin-bottom: 12px;
    }
    .social_links li a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
    .social_links li{
        margin: 0 4px 0 0;
    }
    .like_cell li + li {
        margin-left: 10px;
    }
    .xprince-box {
        margin-bottom: 20px;
    }
    .experiance {
        padding-bottom: 10px;
    }
    .xprince-box p {
        font-size: 16px;
    }
    .subscription-inner .product-box {
        padding: 0;
    }
    .subscription-inner {
        padding: 20px 0;
    }
    .subscription-inner h3 {
        margin-bottom: 30px;
    }
    .subscription-inner .product-box h4 {
        height: 18px;
        overflow: hidden;
    }
    .subscription-inner {
        border: medium none;
        padding: 20px 0 0;
    }
    .about-oil-detail p {
        font-size: 15px;
    }
    .market-text h4 {
        margin-bottom: 20px;
    }
    .oil-market .col-sm-6 {
        min-height: inherit;
    }
    .oil-market .col-sm-6.pull-right {
        float: none !important;
    }
    .market-table-outer {
        margin-bottom: 30px;
    }
    .oil-market h2 {
        margin-bottom: 30px;
    }
    .about-oil-detail .btn-default {
        border-radius: 0;
        font-size: 16px;
        padding: 15px;
        width: 100%;
    }
    .team p {
        font-size: 15px;
    }
    .team-list ul li {
        padding-bottom: 20px;
    }
    .team-pic {
        height: 85px;
        width: 85px;
    }
/*
    .about-oil-detail.about-oil-marg {
        padding-bottom: 0;
    }
*/
    .about-oil-detail.abt-dt {
        padding-bottom: 0;
    }
    .market-text p {
        font-size: 16px;
    }
    .product-slider {
        text-align: center;
    }
    
    .seq-inner {
        text-align: center;
    }
    
    .seq-list p {
        margin-bottom: 0;
    }
    .recomend {
        margin-top: 30px;
    }
    .over-iiner {
        margin-bottom: 10px;
    }
    .over-iiner {
        margin-bottom: 15px;
    }
    .product-detail {
        padding-top: 20px;
    }
    /*29-05-2017*/
    .single-product .product-detail {
        padding-top: 100px;
    }
    /*29-05-2017*/
    .slider-detail {
        margin-top: 20px;
    }
    .summary h1 {
        margin-top: 20px;
    }
    .summary-list-outer {
        margin: 20px 0;
    }
    .add-cart {
        margin: 0 -15px;
    }
    .account .tab-content ul li .subscriptionItem {
        float: none;
        display: block;
    }
    .account .tab-content ul li {
        margin-bottom: 10px;
    }
    .account .tab-content ul li a.btn-danger {
        margin-top: 10px;
    }
    .account .tab-content ul li a {
        float: none;
    }
    .account .tab-content ul li address {
        margin-bottom: 10px;
    }
    .account .tab-content h4 {
        margin-bottom: 20px;
    }
    .acount {
        padding: 30px 0 0;
    }
    .acount h2 {
        margin-bottom: 30px;
    }
    .account .tab-content ul li a.btn-danger {
        min-width: inherit;
    }
    
    .checkoutnew {
        overflow-x: auto;
    }
    .woocommerce table.shop_table th {
        font-size: 14px;
        padding: 10px 20px;
    }
    #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
        height: 29px;
    }
    ul.nav-dropdown {
        padding: 15px;
        
    }
    ul.nav-dropdown li.aboutus a, ul.nav-dropdown li.subscription a, ul.nav-dropdown li.ouroil a {
        font-size: 13px;
    }
    .cart-tab {
        position: absolute;
    }
    .woocommerce form .form-row-last, .woocommerce-page form .form-row-last , .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
        float: none;
        width: auto;
    }
    .col-sm-6.feature-cont-col {
        margin-bottom: 0;
    }
    .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
        width: auto;
    }
    .shippingAddress .check_in {
        width: auto;
    }
    .header.sticky {
        padding: 10px 0 0;
    }
    .cart-tab {
        position: fixed;
    }
    
    .woocommerce div.product form.cart .button,  .checkout-r .btn-default {
        bottom: 0;
        left: 50%;
        position: fixed;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        border-radius: 0;
        z-index: 999;
        width: 100%;
        font-size: 16px;
        padding: 25px 0 20px !important;
    }
    .woocommerce div.product form.cart .button:before {
        content: "\f07a";
        position: absolute;
        top: 18px;
        margin-left: -45px;
        font-family: 'FontAwesome';
        font-size: 27px;
    }
/*
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        white-space: nowrap;
    }
*/
    .woocommerce table.shop_table {
        width: 630px;
    }
     .admin-bar .cart-tab {
        top: 70px;
    }
    .admin-bar .header {
        margin-top: 45px;
    }
/*
    .about-oil-detail p {
        font-size: 35px;
    }
*/
    .detail_page h1 {
         margin: 80px 0 30px;
    }
    .single-product .footer_outer, .woocommerce-cart .footer_outer {
        padding-bottom: 60px;
    }
    .single-product .variations_form.cart {
        text-align: center;
    }
    .single-product .variations_form.cart .variablecart {
        text-align: left;
    }
    .slider-nav {
        display: none;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .slick-slider {
        margin-bottom: 20px;
    }
    .modal-calculator {
        margin: 0 auto;
    }
    .cart-status.consultation {
        margin: 30px -30px 0;
        padding: 15px 0;
    }
    .modal-calculator {
        padding: 30px 30px 0;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        top: 95px;
    }
    #checkout_timeline.horizontal.text li {
        font-size: 10px;
    } 
    ul.checkout-process li {
        margin: 0;
        font-size: 12px;
    }
    ul.checkout-process li::after {
        right: 0;
    }
     #ship-to-different-address .input-checkbox {
        margin-top: 0;
    }
    .checkout {
        padding-bottom: 0;
    }
    .blog_img {
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
        width: auto;
    }
    .blog-det .product-box {
        min-height: inherit;
    }
    .blog-det .box-pic > img {
        max-width: 100%;
    }
    .feature-cont-col.col-xs-12 {
        width: 100%;
        border-right: none;
    }
   
    .checkout-r {
        text-align: center;
    }
    .carTop .checkout-r {
        display: none;
    }
    .subtotalChck, span.woocommerce-Price-amount {
        font-size: 20px !important;
        vertical-align: middle;
    }
    /*.widget_categories {
        display: none;
    }*/
    /*.blog-box {
        padding: 30px 20px;
    }*/
    .searcl-l {
        width: 84%;
    }
    .blog-box p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .tags ul li a {
        font-size: 14px;
    }
    .blog-banner .seq-list {
        padding: 10px 0 0;
    }
    .blog-banner .seq-list h2 a {
        font-size: 21px;
    }
    .searchandfilter ul li:nth-child(2) {
        width: 25%;
    }
 
    .why-box {
        width: 280px;
        margin-bottom: 20px;
    }
    .why-box p {
        font-size: 15px;
    }
    .why-cont {
        padding-top: 50px;
    }
    .footer_outer {
        padding-bottom: 0;
    }
    .footer-bottom {
       text-align: center;
    }
    .footer-btm-r, .footer-btm-l {
        float: none;
    }
    .address-plus:after {
        top: 0;
        font-size: 15px;
    }
     li.total span.woocommerce-Price-amount {
        font-size: 13px !important;
    }
    .woocommerce .order_details li {
        margin-right: 0;
        padding: 15px 12px;
    }
    .woocommerce table.shop_table {
        width: 100%;
    }
    .checkout-r .btn-default {
        margin-left: 0;
    }
    .text-container {
        position: static;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
    .seq-list {
    padding: 59% 0 0;
    background-position: 100% center;
    background-size: auto 100%;
    }
    .seq-outer:nth-child(2n) .seq-list {
    background-position: 0% center;
    }
    .about-oil-detail.default-page {
        padding-top: 80px;
    }
    #stgh-hc-button-bg{
    	bottom:70px!important;
    }
   /* .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
        padding: 0;
    }*/
    .subtotalChck, span.woocommerce-Price-amount {
        font-size: 16px !important;
    }

    .woocommerce .account table.shop_table td, .woocommerce table.shop_table th {
        padding-left: 10px 2px;
        font-size: 14px;
    }

    .check_shipping_select {
        font-size: 12px;
    }


     ul.nav-dropdown {
        top: 45px;
    }
    .about-oil .seq-outer .text-container,  .about-oil .seq-outer:nth-child(2n) .text-container {
        margin: 0;
    }
    .seq-outer:nth-child(2n) .text-container {
        margin: 0;
    }
   .page-template-phone-order .woocommerce input.button {
        font-size: 13px !important;
    }
    ul.nav-list li ul.nav-dropdown li.active a, ul.nav-list li ul.nav-dropdown li a {
        color: #b41019;
    }
    ul.nav-list li ul.nav-dropdown li.active a {
        font-weight: 600;
    }
    ul.nav-list li.menu-item-has-children.open>a:before {
        display: none;
    }
    ul.checkout-process {
        margin-bottom: 30px;
    }
    #checkout_timeline li .timeline-wrapper {
        text-align: center;
    }
    #customer_shipping_details .woocommerce-shipping-fields {
        width: 100%;
    }
    .woocommerce-checkout .woocommerce form .form-row{
        margin-bottom: 0;
    }
    .woocommerce-checkout .form-row + .form-row .input-text{
        border-top: 1px solid transparent !important;
    }
    .woocommerce-checkout .select2-choice{
        border: 1px solid transparent !important;
    }
    .woocommerce-checkout #shipping_country_field, #billing_country_field{
        margin-top: 15px;
    }
    .woocommerce-checkout .apply {
        margin-top: 10px;
    }
    .woocommerce-checkout .button.alt.next, .woocommerce-checkout .button.alt.prev{
       padding: 6px 24px;
    }
    .woocommerce-checkout #shipping_country_field strong{
        margin-bottom: 10px;
        display: inline-block;
        padding-bottom: 10px;
    }
    .woocommerce-checkout #customer_shipping_details h3.shipping_help{
        padding: 10px 0;
        font-size: 14px !important;
    }
    .woocommerce-checkout td.shipping-product .cart-productName {
       font-size: 14px !important;
    }
    .woocommerce-checkout .checkout_shipping ul#shipping_method li label {
      font-size: 12px;
    }
    .woocommerce-checkout .subtotalChck, span.woocommerce-Price-amount {
      font-size: 14px !important;
   }
    .woocommerce-checkout .checkout-ship{
        margin-top: 0;
    }
    .woocommerce-checkout.woocommerce-checkout #payment div.payment_box{
        margin-bottom: 0;
    }
    .woocommerce-checkout form.checkout.woocommerce-checkout h3{
        margin-bottom: 0;
    }
    .woocommerce-checkout #order_checkout_payment .checkout-head .checkout-table-cell{
        text-align: left;
    }
    .woocommerce-checkout .product-view{
        font-size: 13px;
    }
    .woocommerce-checkout .checkout-table-cell{
        padding: 10px;
        font-size: 12px;
    }
    span.woocommerce-Price-amount {
     font-size: 13px !important;
     }

     .subtotal span.woocommerce-Price-amount {
     font-size: 16px !important;
     font-weight: 700;
     }

    .summary span.woocommerce-Price-amount {
        font-size: 18px !important;
        font-weight: 700;
    }

    .woocommerce-checkout form.checkout.woocommerce-checkout{
        padding: 0;
        margin: 0;
    }
    .woocommerce-checkout .productAmount .btn-default{
        margin-top: 10px;
    }
    .productAmount.review-pro .pull-right span.woocommerce-Price-amount{
        font-size: 14px !important;
    }
    #add_payment_method #payment div.payment_box .form-row, .woocommerce-cart #payment div.payment_box .form-row, .woocommerce-checkout #payment div.payment_box .form-row{
    margin-bottom: 0;
    }
    .woocommerce-checkout span.woocommerce-Price-amount{
        font-size: 16px !important;
        font-weight: 500;
    }
    .woocommerce-checkout h3.order_total {
      font-size: 14px !important;
    }
    .woocommerce-checkout .apply {
       margin-top: 10px;
        margin-bottom: 10px;
    }
    .woocommerce-shipping-fields label{
        font-size: 14px;
    }

/*
    .woocommerce-checkout .form-row:first-child .input-text{
       border-top: 1px solid rgba(191,191,191,0.5) !important; 
    }
*/
    /*.woocommerce-checkout .woocommerce form .form-row.woocommerce-validated .select2-container{
        border-top: none !important;
    }*/
    .woocommerce-checkout .account .input-text{
        border-top: none !important;
    }
    .woocommerce-checkout #billing_first_name_field{
        border-top: 1px solid rgba(191,191,191,0.5) !important;
    }
    .woocommerce-checkout .checkout-ship{
        padding-top: 20px;
    }
    .woocommerce-checkout form.checkout.woocommerce-checkout h3{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(191,191,191,0.5);
    }
    .woocommerce-checkout .cartText h3{
        border-bottom: none !important;
        padding-bottom: 0 !important;
    }
    .woocommerce-checkout .form-row.account{
        border-top: 1px solid rgba(191,191,191,0.5) !important;
    }
    #shipping_country_field{
        padding: 10px 15px !important;
        border: 1px solid rgba(191,191,191,0.5) !important;
        border-top: none !important;
        margin-top: 0 !important;
        margin-bottom: 10px;
    }
    .woocommerce-shipping-fields #shipping_country_field label{
        left: 15px;
        top: 34px !important;
    }
    .woocommerce-checkout td.shipping-product .cart-productName{
        margin-left: 0;
    }
    .woocommerce-checkout-payment #authnet-card-number{
         border-top: 1px solid rgba(191,191,191,0.5)!important;
    }
    .woocommerce-checkout-payment #authnet-card-expiry, .woocommerce-checkout-payment #authnet-card-cvc{
        border-top: none !important;
    }
    .woocommerce-checkout-payment .form-row-wide{
        margin-top: 10px;
    }
    .woocommerce-checkout-payment .main-checkout{
        margin-bottom: 0;
    }
    .woocommerce-checkout-payment input[type="checkbox"] + label{
        padding-left: 0;
        vertical-align: middle;
    }
    .cart-subtotal h3{
        padding-bottom: 0!important;
        border-bottom: none!important;
    }
    .yith-woocommerce-checkout-payment .review-pro li + li{
        margin-top: 10px;
    }
    .woocommerce_cart .cart-modal {
       margin-top: 10px;
    }
    .custom-product-details{
        margin-top: 10px;
    }


    /*09-05-2017*/
    .blog-bnr a {
        display: block;
    }
    .blog-bnr a img {
        width: 100%;
    }

    .single-post .comment-respond h3 {
    font-size: 22px;
    margin-bottom: 0;
}
form#commentform {
    padding: 10px 0;
    margin-bottom: 0;
}
.chckTextearea {
    margin-bottom: 20px;
}
.customer-social ul li {
    margin-left: 10px;
    vertical-align: top;
}
.like-blog, .blog-classnew, .leave-reply {
    padding: 10px;
}
.single-post .check-input label {
    font-size: 13px !important;
}


/*19-05-2017*/
.seq-outer {
    height: auto !important;
    text-align: left;
}

.seq-inner {
    text-align: left;
}
.seq-outer .text-container,
.seq-outer .text-container .row {
    width: 100%;
    text-align: center;
    display: block;
}
/*.seq-outer:nth-child(2n) .seq-list {
    background-position: left 16% center;
}
.seq-outer:nth-child(3) .seq-list {
    background-position: center right;
}
.seq-outer:nth-child(2n) .seq-list {
    background-position: left 15% center;
}
.seq-outer:nth-child(5) .seq-list {
    background-position: center right 13%;
}*/


/*24-05-2017*/
    .check-input label, 
    .checkout-ship .form-row label, 
    .woocommerce-shipping-fields .form-row label {
    left: 0;
    right: 0;
    }

    .signUp, .socBlog {
        width: 100%;
        float: none;
    }
    .signUp::after {
        content: none;
    }
    .signUp {
        padding-bottom: 10px;
    }
    .socBlog {
        padding-top: 10px;
    }

    .woocommerce #review_form #commentform {
        padding: 15px;
    }

    .billingshipedit #shipping_country_field {
        border: none !important;
    }


    /*25-05-2017*/
    .account .page-account .nav-tabs li a {
    font-size: 14px;
    }
    .page-account select {
        height: 46px;
        padding: 0 15px;
        margin: 10px 0 0;
        width: auto;
        display: block;
        border-radius: 3px;
        border: none;
        position: relative;
        background: #B41019;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;
    }


    .contactClass .cusnew .add-cart {
        margin: 0;
    }
    .contactClass {
        padding: 15px 0;
    }
    .contactClass .check-input {
        margin-bottom: 10px;
    }

    .account .page-account .nav-tabs {
        display: block;
        position: relative;
    }
    .account .page-account .nav-tabs li {
        width: 100%;
        display: block;
    }
    .account .page-account .nav-tabs li.is-active {
        border-bottom: 2px solid #f8f8f8;
        box-shadow: 0 2px 0 #ccc;
        border-radius: 3px;
        display: block;
        position: relative;
    }
    .account .page-account .nav-tabs li.is-active:after {
        position: absolute;
        content: '';
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        border: 5px solid transparent;
        border-top-color: #000;
        margin-top: 5px;
    }
    .account .page-account .nav-tabs:hover li {
        display: block;
    }


    /*19-07-2017*/
    .woocommerce form .form-row.woocommerce-validated .select2-container.state_select {
        border: 1px solid rgba(191,191,191,0.5) !important;
    }
    
    .ywgc-single-recipient input {
        width: 49%;
    }
    .ywgc-template {
        width:80%;
        float: none;
        padding: 0;
    }
    .gift-card-content-editor {
        width: 100%;
        float: none;
    }
    .ywgc-generator {
        margin: 0 -5px;
    }
    .giftpdts-cnt .gift_card_template_button .single_add_to_cart_button {
        margin-left: 0px;
    }
    .gift-card-content-editor {
    float: none;
    width: 100%;
     padding: 20px 0px 0;
}
    .gift-deta {
    width: 100%;
    float: none;
    position: relative;
    left: auto;
}
    
.giftpdts-cnt .gift-cards-list {
    border-width: 0 0 1px;
    margin-left: 0;
    position: relative;
    top: -10px !important;
}
#gift_amounts{
	margin-bottom:15px;
}
.ywgc-template{
	margin: 0 auto;
}
body{
	overflow-x:hidden;
}
    .gift-card-content-editor{
        margin-top: 20px;
    }
    .ywgc-single-recipient input{
        height: 45px;
    }

/*19-01-2017*/
.single-product .variations_form.cart .variablecart {
    text-align: left;
    padding: 20px 10px !important;
}   

.summary .variations_form .cart-item {
 padding: 20px 10px !important;
}

.summary .cart-item h4 {
    font-size: 14px;
}

/*19-01-2017*/
    
    .social_links .fa-facebook-f:before, .fa-facebook:before {
        top: -14px;
        font-size: 28px;
    }
    
    .quick_link li a {
        font-size: 13px;
    }
    
    .quick_link li {
        margin-bottom: 3px;
    }

}
/****************************************************/
@media (max-width: 600px) {
#wpadminbar {
    position: fixed;
}
    /*---10-05-17--*/
    
.blogTopLinks li a {
    font-size: 26px;
    line-height: 100%;
}

.heading-marg {
    margin-top: 130px;
}
.checkout.heading-marg {
    margin-top: 50px;
}
.blogTopLinks li a {
    font-size: 20px;
}
.blog-picnew {
    position: static;
    width: 100%;
    max-width: 100%;
}
.blog-list-text h3 a {
    font-size: 20px;
}
    
     .blog-list-text {
        margin-left: 0;
        padding: 20px 30px;
    }
    .blog-list-pic {
        width: 100%;
/*        height: 150px;*/
        height: 379px;
    }
    
   .blogTopLinks li a {
    font-size: 15px;
}


.page-template-testimonial .heading-marg, .page-template-videos .heading-marg {
    margin-top: 124px;
}




/*23-05-2017*/
.home .heading-marg {
	margin-top: 72px;
}


/*24-05-2017*/

.blog_cont h3 a {
  font-size: 18px;
}



/*29-05-2017*/
.single-product .product-detail {
    padding-top: 0;
}
.page-template-myaccount .acount.heading-marg {
    margin-top: 50px;
}
    
/*    30-6-17*/
    
    .call-phn, .call-tck, .call-btl{
        background-size: 100px;
    }
    .experiance .call-btl {
        background-position: 23px -58px;
    }
    .experiance .call-tck {
        background-position: -40px -62px;
    }
    
}


/****************************************************/

@media (max-width: 568px) {
	div.wpdreams_asl_container[id*="ajaxsearchlite"] {
    	margin: 0 auto !important;
	}

	#checkout_timeline li .timeline-wrapper .timeline-label {
    display: none;
}

#checkout_timeline.style1 li.active .timeline-wrapper .timeline-label {
    display: none;
}


	
	
	.header-rel {
        padding: 0 55px;
    }
    .nav_icon span {
        margin: 0px 0 5px;
        width: 30px;
    }
    .nav_icon{
        left: 0;
        padding: 19px 30px;
    }
    .container > .navbar-header{
        margin: 0;
    }
    .navbar-absolute{
        right: 0;
    }
    .feature-cont-col{
        padding: 10px;
    }
    .box-pic > img{
        max-height: 80px;
    }
    .box-pic {
        height: 88px;
        line-height: 89px;
    }
    .product-box h4 {
        height: 42px;
        line-height: 1;
        font-size: 16px;
    }
    .feature-product{
        padding:30px 0 0 0;
    }
    .xprince-box p {
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }
    .subscription-inner h3 {
      margin-bottom: 20px;
    }
    ul.nav-list li a{
        font-size: 14px;
    }
    ul.nav-dropdown {
        padding: 0 10px;
    }
/*
    .seq-list {
        padding: 30px 0;
    }
*/
    .seq-list p {
        font-size: 14px;
    }
    .oil-market {
        padding: 40px 0 0;
    }
    .market-table-outer {
        padding: 20px 15px;
    }
    .about-us h2 {
        margin-bottom: 30px;
    }
/*
    .team-list ul li {
        margin: 0 20px 20px;
    }
*/
    .team-list {
        margin-top: 30px;
    }
    .team-pic {
        width: 105px;
        height: 105px;
    }
    .about-us h2 {
        margin-bottom: 20px;
    }
    .team-list ul li {
        width: 32%;
    }
    .about-oil-detail p {
        margin-bottom: 20px;
    }
    .market-text p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 20px;
    }
   
    .slider-detail h3 {
        font-size: 16px;
    }
    .summary h1 {
        font-size: 23px;
    }
    .summary-list-outer {
        margin: 10px 0;
    }
    .overview {
        padding: 20px 0;
    }
    .overview p {
        font-size: 16px;
    }
    .market-table-outer {
        margin-bottom: 20px;
    }
    .slider-detail h3 {
        font-size: 14px;
        line-height: 19px;
    }
    .summary-list-outer ul li {
        font-size: 15px;
    }
    input[type="radio"] + label::after {
        width: 17px;
        height: 17px;
    }
    .check_in input[type="radio"]:checked + label:after {
        background-position: center -1px;
    }
    input[type="radio"] + label:after, input[type="checkbox"] + label:after {
        top: 4px;
    }
    .cart-item {
        padding: 15px 20px;
    }
    .showDiv ul li {
        width: 100%;
        text-align: left;
        display: block;
        clear: both;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .showDiv {
        padding: 15px;
    }
   
    .qnt {
        width: 50px;
    }
    .free {
        text-align: center;
        font-size: 12px;
    }
    .cart-status {
        font-size: 12px;
    }
    .showDiv ul li h4  {
       float: left;
    }
    .other-products.feature-cont .product-box{
        padding: 0;
    }
    .q_cell {
        float: right;
    }
    .summary-list-outer ul li {
        margin-bottom: 10px;
    }
    .overview .slider-detail {
        padding: 10px 0;
    }
    .recomend {
        display: none;
    }
    .dropdown-menu {
        width: 300px;
    }
    .cart-product ul li {
        padding: 20px 0;
    }
    .cart-top {
        padding: 15px 15px 0;
    }
    .subtotal h4 {
        font-size: 19px;
    }
    .subtotal h4 {
        margin-bottom: 0;
    }
    ul.nav-list li .free-inner a {
        padding: 0;
    }
    .free-inner {
        font-size: 14px;
    }
    .cart-product ul li, .total-checkout {
        padding: 10px 0;
    }
    h4.free-ship {
        margin: 0 0px 15px;
    }
    .recomend p {
        margin-bottom: 20px;
    }
    .showDiv {
        margin-top: 15px;
    }
    .nav-tabs {
        width: auto;
        float: none;
    }
    .nav-tabs > li > a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .account .tab-content {
        margin-left: 0;
        border: none;
    }
    .acount {
        padding: 20px 0 0;
    }
    .acount h2 {
        margin-bottom: 20px;
    }
    .account .tab-content h4 {
        margin-bottom: 10px;
    }
    .account .tab-content ul li a {
        font-size: 14px;
    }

   .account {
        display: block;
    }
    .nav-cell {
        display: block;
    }
    .checkout-r {
        float: none;
    }
    .other-products {
        margin-top: 30px;
    }
    .shopping {
        padding: 30px 0 0;
        border-bottom: none;
    }
     .box-pic > img {
        max-height: 80px;
         width: 100%;
    }
    .checkout-r .btn-default {
        margin-left: 0;
    }
    
       .other-products {
        margin-top: 30px;
    }
    .other-products h3 {
        margin-bottom: 30px;
    }
    .checkout-r a.continue-shop {
        font-size: 15px;
    }
    .subtotalChck span {
        font-size: 18px;
    }
    
    .product-box h5 {
        font-size: 11px;
    }
    .cart-tab {
        top: 23px;
    }
    .navbar-brand {
        padding: 5px 0 0;
    }
    .box-pic > img {
        width: auto;
    }
    .woocommerce form .form-row {
        margin-bottom: 0;
    }
    .exeriance-pic {
        height: 70px;
        line-height: 70px;
        width: 70px;
    }
    .xprince-box {
        min-height: 150px;
    }
    .account .woocommerce form.login {
        margin-bottom: 30px;
    }
    .account .login h2 {
        margin-bottom: 30px;
    }
     .cart-productName h3 a {
        font-size: 17px;
    }
    .cart-productName h3 {
        line-height: 18px;
    }
    .productAmount {
        padding: 20px 0;
    }
    .navbar-brand {
        padding: 0;
    }
    .header.sticky {
        padding: 0;
    }
    .nav_icon {
        padding: 15px 30px;
    }
    .header-rel, .header.sticky {
        padding: 5px 0;
    }
    .navbar-brand, .header.sticky .navbar-brand {
        width: 120px;
    }
    td.product-name a {
        font-size: 14px;
    }
    /*.heading-marg {
        margin-top: 59px;
    }*/
    .admin-bar .heading-marg {
        margin-top: 58px;
    }
    .detail_page h1 {
        margin: 80px 0 10px;
    }
    input[type="radio"] + label::after {
        width: 25px;
        height: 25px;
    }
    input[type="radio"] + label, input[type="checkbox"] + label {
        padding-left: 35px;
       
    }
    .check_in input[type="radio"]:checked + label::after {
         background-size: 100% 100%;
    }
    /*.check_in {
        margin-bottom: 10px;
    }*/
    .woocommerce div.product form.cart .variations label {
        padding-top: 3px;
        min-height: 25px;
    }
    .variations_form .btn.btn-product {
        margin: 10px 0;
    }
    .summary h4 {
        font-size: 18px;
    }
    .admin-bar .shopping{
        padding-top: 30px;
    }
    .product-box ul li {
        font-size: 14px;
    }
    .product-box ul {
        margin-bottom: 9px;
    }
    .feature-product .btn-default, .text-center .btn-default {
        padding: 15px !important;
    }
    .market-table-outer {
        margin-bottom: 0;
    }
    .slider-detail h3 {
        font-size: 13px;
        font-weight: 400;
        color: #222;
    }
    h4.free-ship {
        margin-top: 15px;
    }
    .modal-calculator {
        width: auto;
        height: 100%;
    }
    .modal-calculator h2 {
        margin-bottom: 20px;
    }
    .family-member {
        padding: 15px;
        margin-bottom: 20px;
    }
    .member-row {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .member-l {
        font-size: 15px;
    }
    .cart-status.cart-member {
        margin-bottom: 20px;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        top: 84px;
    }
    .woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
        font-size: 12px;
    }
    .address-w {
        padding-right: 10px;
    }
    .address-border {
        padding: 20px 0;
    }
    .checkout-table-cell {
        padding: 10px 20px;
    }
    #checkout_timeline.horizontal.text li {
        width: 23%;
        font-size: 10px;
        margin-bottom: 8px;
        padding: 0px;
        border-right: 1px solid #ccc;
        letter-spacing: normal;
    }
    #checkout_timeline.horizontal.text li:last-child {
        border-right: 0;
        padding-right: 0;
    }
    #checkout_timeline.horizontal.text li:first-child {
        border-right: 1px solid #ccc;
    }
    ul.checkout-process li::after {
        display: none;
    }
    ul.checkout-process {
        margin-bottom: 20px;
    }
    .review .checkout-ship {
        margin-top: 0;
    }
    .checkout {
        padding-bottom: 0;
    }
    #ship-to-different-address input[type="radio"] + label,  #ship-to-different-address input[type="checkbox"] + label {
        padding-left: 25px;
    }
    
/*
    .review .checkout-table-cell {
	   white-space: nowrap;
    }
*/
    .blog_single h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .product-box ul {
        display: none;
    }
    .xprince-box h4 {
        display: none;
        
    }
    .product-box h4 {
        font-size: 14px;
    }
    .subscription-inner .product-box h4 {
        height: 43px;
    }
    .subscription-inner .product-box .btn-product {
        text-align: center;
    }
    #checkout-wrapper .account-creat .check_in {
        width: auto;
    }
    .subscription-inner input[type="radio"] + label::after {
        top: 0;
    }
    
   .woocommerce-cart table.cart td.actions .coupon .input-text {
        height: 40px;
    }
    .coupon .btn-default {
        border-radius: 0;
        padding: 14px 10px !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin-right: 0;
    }
    .other-products .product-box h5 {
        font-size: 15px;
    }
    .detail-srchBox, .detail-select {
        width: 50%;
    }
    .searcl-l {
        width: 100%;
        margin-bottom: 20px;
    }
    .top-search span {
        font-size: 14px;
    }
    .breadcrumb {
        padding: 8px 5px;
    }
    .customer-health, .customer-social {
        float: none;
    }
    .customer-health {
        margin-bottom: 10px;
    }
    .blog-box h2 {
        font-size: 18px;
    }
    .blog-news-date {
        margin-bottom: 10px;
    }
    .blog-box h2 {
        margin-bottom: 20px;
    }
    .inoo-pic {
        float: none;
        margin-bottom: 20px;
    }
    .inno-text {
        margin-left: 0;
    }
    .blog-box {
        padding-bottom: 0;
    }
    .blog-banner .seq-list p {
        font-size: 14px;
    }
    .searchandfilter ul li input[type="submit"] {
        padding: 8px 17px;
        font-size: 12px;
    }
    .searchandfilter ul li:first-child {
        width: 54%;
    }
    .searchandfilter ul li {
        padding: 6px 0;
    }
    .searchandfilter ul li:first-child::before {
        top: 6px;
    }
    .blog-banner .blog-news-date {
        margin-top: 30px;
    }
    .blog-banner .col-sm-offset-2 {
        padding: 10px 15px;
    }
    .why-box {
        width: auto;
    }
    .why-pic {
        margin-bottom: 20px;
    }
    .why-box h3 {
        margin-bottom: 15px;
    }

    .footer-bottom {
        padding: 10px 0;
    }
    .footer-btm-r {
        margin-bottom: 10px;
    }
   
    .register
/*
    .woocommerce form.register, .woocommerce form.login {
        padding: 0;
    }
*/
    .woocomerce-FormRow .btn-default, .woocommerce form.login .btn-default {
        padding: 25px 0 20px !important;
        width: 100%;
        font-size: 16px;
        border-radius: 0;
    }
   .woocommerce_checkout_login .account-creat {
        padding: 30px 0;
    }
    .woocommerce form.register .form-row, .woocommerce form.login .form-row {
        margin: 0 -15px;
        padding: 0;
    }
    
    .woocommerce form.login .form-row label.inline {
        float: left;
        display: block;
        margin-left: 20px;
    }
    .woocommerce form.login .form-row .lost_password {
        float: right;
    }
    .readmediv .inline {
        float: left;
    }
    .readmediv  .lost_password {
        float: right;
         margin-top: 4px;
    }
    .readmediv {
        margin: 10px 0 0;
        overflow: hidden;
    }
    .woocommerce_checkout_login input[type="radio"] + label:after {
        top: 0;
    }
    .footer-bottom {
        margin-top: 0;
    }
    .checkout {
        padding: 30px 0;
    }
    #ship-to-different-address input[type="checkbox"] + label {
        padding-left: 0;
    }
    .checkout-ship {
        margin-top: 0;
    }
    .main-checkout {
        margin-bottom: 20px;
    }
  
    .woocommerce .order_details li {
        width: 25%;
    }
    .woocommerce-thankyou-order-received, .woocommerce-message {
        font-size: 17px;
        line-height: 1;
    }
    .woocommerce .order_details li {
        font-size: 11px;
    }
    .subtotalChck, span.woocommerce-Price-amount {
        font-size: 13px !important;
        font-weight: 700;
    }
    
    .summary span.woocommerce-Price-amount {
        font-size: 18px;
        font-weight: 700;
    }

    table.shop_table .product-price, table.shop_table .product-subtotal {
        display: none !important;
    }
    .cartnew_page {
        width: 100px;
        white-space: normal;
    }
    .social_links {
        margin-bottom: 20px;
    }
    .account-creat .register .check_in, .account-creat .login .check_in {
        width: auto;
    }
    .account-creat .register .check_in h4, .account-creat .login .check_in h4 {
        font-size: 13px;
    }
    .account-creat .register .check_in label:after, .account-creat .login .check_in label:after {
        top: 0;
    }
    .check-input {
        padding: 0 ;
    }
    .account-creat {
        padding: 30px 0;
    }
   #checkout_login .account-creat .check_in h4 {
        margin-top: 6px;
    }
    .nav-cell table tr th:first-child, .nav-cell table tr td:first-child, .nav-cell table tr th:nth-child(3n),.nav-cell table tr td:nth-child(3n) {
        display: none;
    }


    .account .nav-cell table tr td:first-child, .nav-cell table tr th:nth-child(3n),.nav-cell table tr td:nth-child(3n), .shop_table order_details .nav-cell table tr th:first-child {
        display: grid;
    }


    .default-page .entry-content p {
        font-size: 15px;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        white-space: nowrap;
    }
    .nav_icon {
        top: 3px;
    }
    .register .woocomerce-FormRow .btn-default, .woocommerce form.login .btn-default {
        position: fixed;;
        left: 0;
        right: 0;
        z-index: 99;
        bottom: 0;
    }
    .woocommerce-Price-amount span {
        font-size: 16px;
        font-weight: 700;
    }
    .woocommerce form.login .account .lost_password {
        /* position: absolute; */
        bottom: 30px;
    }
   .woocommerce-checkout .woocommerce form .form-row {
     /*   margin-bottom: 10px; */
    }
    #checkout_timeline.text li{
        display: inline-block;
    }
    .woocommerce-checkout form.checkout.woocommerce-checkout h3{
        margin-bottom: 10px;
    }
    .woocommerce-checkout.woocommerce .checkout_shipping.account table.shop_table{
        width: 400px;
        overflow-x: auto;
    }


    /*09-05-2017*/
    .heading-marg {
        margin-top: 59px;
    }
.blog-banner h2 a, .blog-banner h2 {
    font-size: 16px;
}
.blog-cont-new p {
    font-size: 14px;
}
.blog-list-text {
    padding: 15px 20px;
}
.signUp, .socBlog {
    width: 100%;
    float: none;
    padding: 10px 0;
}
.signUp::after {
    content: none;
}
.signUp-in {
    max-width: 100%;
}


.single-post .check-input {
    display: block;
    width: 100%;
    text-align: left;
}
.like-blog .blog_img img {
    height: auto;
}


.page-template-testimonial .heading-marg, 
.page-template-videos .heading-marg {
    margin-top: 112px;
}


/*23-05-2017*/
.home .heading-marg {
	margin-top: 60px;
}

/*25-05-2017*/
table#credit-cards-table tr th:first-child, table#credit-cards-table tr th {
    display: table-cell;
    height: 46px !important;
    padding: 0 10px;
}
table#credit-cards-table tr td:last-child {
    white-space: normal !important;
    display: table-cell;
    width: 30%;
}


/*29-05-2017*/
#customer_login .account .lost_password {
    text-align: right;
}
#customer_login .account .form-row .inline.jetremember {
    padding: 0;
}



.check-input label, 
.checkout-ship .form-row label, 
.woocommerce-shipping-fields .form-row label {
    left: 10px;
    right: 10px;
    width: auto;
    padding: 0 10px;
}


/*21-06-2017*/
.account.page-account {
    display: block;
    width: 100%;
}
.woo-newsubs {
    overflow-x: auto;
}
.account.page-account .edit-account .form-row label {
    padding: 0 10px;
}
    
    .cart-tab.right .container-fluid > a {
        margin-top: 5px;
    }

}


/****************************************************/
@media (max-width: 480px) { 

#checkout_timeline {
    display: table !important;
    }


#checkout_timeline.style1 li {
    display: table-cell !important;
    }





/*09-05-2017*/
.blogTopLinks li a {
    font-size: 15px;
}
.blogTopLinks {
    padding: 10px 0;
}
div.wpdreams_asl_container[id*="ajaxsearchlite"] {
    /*width: 100% !important;
    margin: 0px 0px 0px 0px !important;
    -moz-box-sizing: border-box;*/
   
}
.blog-top {
    margin: 15px 0;
}



/*25-05-2017*/
.page-account .edit-account .form-row label {
    font-size: 11px;
    padding: 0 10px;
    line-height: normal !important;
}
.page-account .edit-account fieldset {
    margin-top: 20px;
}
.page-account .edit-account fieldset legend {
    padding-bottom: 10px;
    font-size: 17px;
}



    .billingshipedit #shipping_country_field label{
        position: static;
        padding: 0;
    }
    .billingshipedit #shipping_country_field strong{
        display: block;
        text-align: left;
    }
    .billingshipedit #update_all_subscriptions_addresses_field.form-row .checkbox, .checkbox {
        line-height: normal;
        display: block;
    }


    /*29-05-2017*/
    #customer_login .account .lost_password {
        text-align: left;
        float: none;
        clear: both;
    }

    #authnet-cc-form #authnet-token {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #checkout_timeline.style1 li {
        margin-left: 0;
        margin-right: 0;
    }
}

/****************************************************/
@media (max-width: 420px) {	
    .other-products .feature-cont .box-text{
        text-align: right;
    }
   
    .banner-cont h1 {
        font-size: 21px;
        margin-bottom: 5px;
    }
    .banner-cont h3 {
        font-size: 13px;
        margin-bottom: 2px;
    }
    .btn-default {
        font-size: 12px;
        padding: 12px 20px;
    }
    .banner-cont {
        width: 175px;
    }
    
    .nav_icon{
       padding: 19px 17px;
       
    }
    .navbar-absolute {
        top: 5px;
    }
    .xprince-box p {
        font-size: 14px;
    }
    .about-oil-detail {
        padding: 20px 0;
    }
    .team-list ul li {
       width: 49%;
        padding-bottom: 10px;
    }
    .market-cell {
        font-size: 14px;
    }
    .oil-market h2 {
        margin-bottom: 10px;
    }
    .market-text p {
        margin-bottom: 20px;
    }
    .summary h1 {
        font-size: 21px;
    }
    h4.free-ship {
        font-size: 14px;
    }
    .shopping {
        padding-top: 20px;
    }
/*
    #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
        height: 24px;
    }
*/
    .cart-tab {
        top: 20px;
    } 
    .woocommerce div.product form.cart .variations label {
        font-size: 14px;
    }
    
    .note-card {
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .cart-product ul li, .total-checkout {
        padding-right: 0;
    }
    .productAmount ul li {
        margin-bottom: 0;
    }
    .productAmount {
        padding: 10px 0;
    }
/*
    .btn-default, .btn.cancel {
        padding: 12px !important;
    }
*/
    .member-l {
        width: 110px;
    }
    .address-w {
        float: none;
        margin: 0 0 15px;
        width: auto;
    }
    .address-border {
        padding-bottom: 0;
    }
    .detail-select {
        padding-left: 20px;
    }
    .blog-status {
        padding: 20px 10px;
    }
    .customer-health a .fa {
        margin-right: 0;
    }
    .customer-social ul li {
        margin-left: 10px;
    }
    .blog-box h2 {
        font-size: 20px;
    }
    .blog-img, .innovation {
        margin-bottom: 20px;
    }
    .blog-banner .seq-list h2 a {
        font-size: 18px;
    }
    .blog-list-pic {
        float: none;
        width: auto;
        /*height: inherit;*/
        margin-bottom: 20px;
    }
    .blog-list-text {
        margin-left: 0;
    }
    .searchandfilter ul li:first-child, .searchandfilter ul li:nth-child(2) {
        width: 100%;
        border: none;
    }
    .searchandfilter ul li {
        display: block;
        margin-bottom: 5px;
    }
    .woocommerce .order_details li {
        font-size: 11px;
    }
    .woocommerce .order_details li strong {
        font-size: 10px;
    }
    .nav_icon {
        top: 0px;
    }
    .footer-bottom .footer-btm-l
    {
        display: none;
    }

    .checkout-ship .form-row label {
      /*  top: 28px; */
    }
    
    
    /*27-05-2017*/
   .seq-list {
	background-size: auto 300px;
	}



    /*21-06-2017*/
    .account label, 
    .billingshipedit .form-row label, 
    #credit-card #authnet-cc-form .form-row label {
    top: 20%;
    }
    .account .input-text {
        height: 60px;
    }

    /*Commented because Checkout page label in responsive gets disturbed - 18-07-2017*/
    /*.account .n-focus label{
    top: 10px;

    }*/

}
/****************************************************/
