@charset "utf-8";
img {
    max-width: 100%;
}

a,
button {
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    color: #b41019;
}

a:focus {
    text-decoration: none;
    outline: none;
}

h2 {
    color: #b41019;
    font-size: 26px;
    margin: 0 0 15px;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

p {
    font-weight: 300;
}

.btn-default,
.btn.cancel,
.button,
.view {
    font-size: 16px;
    color: #fff!important;
    text-transform: uppercase;
    background: #b41019!important;
    padding: 12px 35px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.btn-default:hover,
.button:hover,
.view:hover {
    background: #8d040c!important;
    color: #fff!important;
}

.btn.cancel {
    padding: 8px 10px;
    font-size: 12px;
}

.btn.pay {
    font-size: 12px;
    color: #fff!important;
    text-transform: uppercase;
    background: #337ab7;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.btn.pay:hover {
    background: #386f9f;
}

.btn.view {
    background: #449d44;
    font-size: 12px;
    color: #fff!important;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

.btn.view:hover {
    background: #3c843c;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.header {
    border-bottom: 1px solid #bfbfbf;
    padding: 10px 0;
}

ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

ul.nav-list li {
    display: inline-block;
    margin: 0 15px;
}

ul.nav-list li:first-child {
    margin-left: 30px;
}

ul.nav-list li a {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}

ul.nav-list li a:hover,
ul.nav-list li.active a {
    color: #b41019;
}

ul.nav-list li ul.nav-dropdown li.active a,
ul.nav-list li ul.nav-dropdown li a {
    color: #fff;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: inherit;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    width: 178px;
}

.navbar-absolute {
    position: absolute;
    right: 25px;
    top: 0;
}

.header-rel {
    position: relative;
}

.banner {
    position: relative;
}

.banner>img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.banner-cont {
    width: 635px;
    float: right;
    text-align: center;
}

.banner-cont h3 {
    font-size: 28px;
    color: #333;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-cont h1 {
    font-size: 64px;
    color: #333;
    position: relative;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
}

.banner-cont h1:after {
    border-bottom: 1px solid #333;
    content: "";
    position: absolute;
    height: 1px;
    width: 280px;
    bottom: -20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
}

.banner-cont p {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.feature {
    background: #f6f6f6;
    padding: 30px 0;
}

.feature h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 0 0 20px;
    font-weight: 700;
}

.feature ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.feature ul li {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 14px;
}

.feature ul li a {
    display: block;
}

.feature ul li a:hover {
    opacity: .6;
}

.feature-product {
    padding: 70px 0;
    text-align: center;
    background: #fff;
}

.box-pic {
    height: 280px;
    line-height: 280px;
}

.box-pic>img {
    display: inline-block;
    max-height: 244px;
}

.product-box {
    padding: 0 45px;
}

.product-box h4 {
    font-size: 20px;
    margin: 30px 0 10px;
    color: #333;
}

.product-box h4 a {
    color: #333;
}

.product-box h4 a:hover {
    color: #8d040c;
}

.product-box p {
    font-size: 16px;
    color: #999;
    font-weight: 300;
}

.product-box h5 {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
    font-weight: 700;
}

.feature-product h3 {
    margin-bottom: 60px;
    font-weight: 300;
}

.feature-cont {
    padding-bottom: 45px;
}

.experiance {
    padding: 70px 0;
    text-align: center;
    background: #f6f6f6;
}

.exeriance-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    line-height: 130px;
    margin: 0 auto 20px;
    display: block;
}

.xprince-box h4 {
    font-size: 18px;
    font-weight: 700;
    color: #666;
}

.xprince-box h4 a {
    color: #666;
}

.xprince-box h4 a:hover {
    color: #b41019;
}

.xprince-box h5 {
    font-size: 15px;
    color: #666;
}

.xprince-box {
    text-align: center;
}

.xprince-box a {
    display: block;
}

.experiance h3 {
    margin-bottom: 40px;
    font-weight: 300;
}

.blog_cont p {
    color: #666;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

.blog_section {
    padding: 55px 0;
    background-color: #fff;
    text-align: center;
}

.blog_heading h2 {
    margin-bottom: 5px;
}

.blog_heading p {
    font-size: 18px;
    color: #666;
    margin: 0;
    font-weight: 300;
}

.blog_heading {
    margin-bottom: 48px;
}

.blog_img {
    margin-bottom: 10px;
}

.blog_img img {
    width: 100%;
}

.visit_btn {
    border: none;
    padding: 15px 50px;
}

.visit_btn:hover {
    background-color: #8d040c;
    color: #fff;
}

.blog_cont {
    padding: 0 15px;
}

.blog_cont h3 {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 18px 0;
}

.blog_cont h3 a {
    color: #333;
}

.blog_cont h3 a:hover {
    color: #b41019;
}

.date_cell {
    float: left;
}

.like_cell {
    float: right;
    padding: 0;
    margin: 0;
}

.like_cell li {
    list-style: none;
    display: inline-block;
}

.like_cell li a {
    color: #999;
}

.like_cell li a:hover {
    color: #b41019;
}

.like_cell li+li {
    margin-left: 20px;
}

.like_cell li a span:first-child {
    margin-right: 4px;
}

.blog_like_cell {
    margin-bottom: 35px;
}

.blog_like_cell {
    color: #999;
    font-size: 16px;
    font-weight: 300;
}

.blog_row {
    margin-bottom: 30px;
}

.story_section {
    padding: 35px 0 0 0;
    background-color: #f6f6f6;
}

.story_cont p {
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

p a {
    display: inline-block;
    color: #b41019;
}

p a:hover {
    color: #000;
}

.story_cont h2 {
    margin-bottom: 25px;
}

.story_cont {
    padding-right: 100px;
    padding-top: 90px;
}

.footer_outer {
    padding: 50px 0 0;
    text-align: left;
    border-top: 1px solid #bfbfbf;
    background: #fff;
}

.footer_outer h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.quick_link {
    padding: 0;
    margin: 0;
    text-align: left;
}

.quick_link li {
    color: #999;
    font-size: 14px;
    margin-bottom: 7px;
    float: left;
    width: 50%;
    list-style: none;
    font-weight: 400;
}

.quick_link li a {
    color: #999;
}

.quick_link li:hover a {
    color: #000;
}

.address_cell {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    line-height: 1.8;
    margin-bottom: 10px;
}

.address_cell:last-child {
    margin-bottom: 0;
}

.address_cell span:first-child {
    margin-right: 10px;
}

.social_links {
    padding: 0;
    margin: 0;
}

.social_links li {
    display: inline-block;
    list-style: none;
    margin: 0 4px;
}

.social_links li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 100px;
    background-color: #a9a9a9;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.social_links li:hover a {
    background-color: #b41019
}

.nav_icon {
    float: left;
    display: none;
    cursor: pointer;
}

.nav_icon span {
    display: block;
    width: 48px;
    height: 4px;
    background-color: #333;
    margin: 0 0 10px 0;
    border-radius: 2px;
}

.nav_icon span:last-child {
    margin-bottom: 0;
}

ul.nav-list li.show_mobile {
    display: none;
}

ul.nav-list li.hide_mobile {
    display: inline-block;
}

.hidden_col {
    display: none;
}

.box-pic>img {
    max-width: 100%;
}

.story_section img {
    max-width: 100%;
}

.xprince-box p {
    font-size: 18px;
    color: #666;
    font-weight: 300;
}

.xprnce-pad .xprince-box {
    padding: 0 21px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

ul.nav-list li.nav-rel>a {
    position: relative;
}

ul.nav-dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #b61118;
    padding: 0;
    top: 100%;
    z-index: 999;
    text-align: center;
}

ul.nav-list li.open ul.nav-dropdown {
    display: block;
}

ul.nav-dropdown li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    padding: 20px;
    display: block;
}

ul.nav-list li.menu-item-has-children a:before {
    background: url(../images/drop-arrow.png) no-repeat;
    width: 20px;
    height: 12px;
    bottom: 0;
    content: "";
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 45%;
    display: none;
}

ul.nav-dropdown li a>span {
    display: block;
    margin-bottom: 5px;
    height: 44px;
}

ul.nav-dropdown li {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

ul.nav-dropdown li:hover a {
    background-color: #8e060c;
    color: #fff;
}

ul.nav-list li.menu-item-has-children.open>a:before {
    display: block;
}

.main_nav_outer ul.nav-list>li>a {
    padding-bottom: 31px;
}

.xprince-box p a {
    color: #666;
}

.xprince-box p a:hover {
    color: #b41019;
}

.cart-pic {
    position: relative;
}

.cart-pic:after {
    position: absolute;
    content: attr(data-badge);
    background: #b41019;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    top: -20px;
    right: -3px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-weight: 700;
}

.product-detail {
    background: #f9f9f9;
    padding-top: 50px;
    margin-top: 84px;
}

.twentysixteen div.product div.images,
#content .twentysixteen div.product div.summary {
    width: inherit;
}

.slider-detail {
    padding: 20px 30px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 40px;
}

.slider-detail h3 {
    font-size: 18px;
    color: #666;
    margin: 0;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.subscription-inner {
    text-align: center;
    padding: 90px 0;
    border-bottom: 1px solid #bfbfbf;
}

.subscription-inner h3 {
    margin-bottom: 60px;
}

.subscription-inner .feature-cont {
    padding-bottom: 0;
}

.subscription-inner .product-box {
    padding: 0 28px;
}

.subscription .subscription-inner:last-child {
    border-bottom: none;
}

.about-oil-detail {
    padding: 70px 0;
}

.about-oil-detail h3 {
    margin-bottom: 40px;
}

.about-oil-detail p {
    font-size: 18px;
    color: #666;
}

.market-pic img {
    width: 100%;
}

.oil-market {
    background: #f6f6f6;
    padding: 70px 0;
}

.market-text h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 26px;
}

.market-text p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #666;
    font-weight: 300;
}

.oil-market h2 {
    margin-bottom: 70px;
}

.market-table-outer {
    background: #fff;
    padding: 30px;
}

.market-table {
    display: table;
    width: 100%;
}

.market-row {
    display: table-row;
    border-top: 1px solid #e1e1e1;
}

.market-cell {
    display: table-cell;
    padding: 6px;
    font-size: 16px;
    font-weight: 300;
    border-top: 1px solid #e1e1e1;
    color: #666;
}

.market-row.table-head .market-cell {
    font-weight: 700;
}

.oil-market .col-sm-6 {
    min-height: 400px;
}

.seq-list {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
    background-position: right center;
}

.seq-list:nth-child(2n) {
    background-position: left center;
    overflow: hidden;
}

.seq-list h2 {
    margin-bottom: 40px;
}

.seq-list p {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 300;
}

.seq-list p a {
    color: #b41019;
}

.seq-list p a:hover {
    color: #666;
}

.about-oil-detail .btn-default {
    text-align: center;
}

.about-us h2 {
    margin-bottom: 40px;
}

.about-oil-detail .about-bold {
    font-weight: 700;
}

.team {
    padding: 70px 0 30px;
    background: #f6f6f6;
    border-bottom: 1px solid #bfbfbf;
}

.team p {
    font-size: 18px;
    color: #666;
    font-weight: 300;
    line-height: 27px;
}

.team-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-list ul li {
    display: inline-block;
    padding: 0 10px 40px;
    width: 19%;
    vertical-align: top;
}

.team-pic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.team-list {
    margin-top: 60px;
}

.team-list ul li h4 {
    font-weight: 400;
    font-size: 17px;
    color: #666;
}

.about-oil-marg p {
    margin-bottom: 50px;
}

.team-list ul li a:hover h4 {
    color: #b41019;
}

.about-oil-marg p {
    margin-bottom: 50px;
}

.about-oil-marg p:last-child {
    margin-bottom: 0;
}

.abt-dt p {
    margin-bottom: 40px;
}

.abt-dt .btn-default {
    min-width: 250px;
}

.summary h1 {
    font-size: 26px;
    color: #333;
    margin: 0;
    font-weight: 700;
}

.summary h1 span {
    font-weight: 300;
}

.summary h4 {
    font-size: 20px;
    color: #999;
}

.summary-list-outer {
    margin-top: 25px;
    margin-bottom: 20px;
}

.summary-list-outer ul li {
    color: #666;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    padding-left: 15px;
}

.summary-list-outer ul li:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666;
    top: 9px;
    left: 0;
}

.summary-list-outer ul {
    float: left;
    width: 50%;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.cart-item {
    padding: 25px 20px;
    background: #fff;
    margin-bottom: 10px;
}

.cart-item h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    color: #333;
    text-transform: uppercase;
}

h4.free-ship {
    font-size: 16px;
    color: #666;
    font-style: italic;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 15px;
}

.check_in {
    position: relative;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.check_shipping_select {
    position: relative;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin-bottom: 5px;
    padding-left: 10px;
}

input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}

input[type="radio"]+label {
    color: #66636c;
    font-size: 15px;
    font-weight: 400;
    padding-left: 27px;
    position: relative;
    min-height: 22px;
    cursor: pointer;
    margin: 0;
    color: #666;
    font-weight: 300;
    line-height: 25px;
}

input[type="radio"]+label:after {
    position: absolute;
    left: 0;
    top: 1px;
    width: 19px;
    height: 18px;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    content: '';
}

input[type="radio"]+label:after {
    border-radius: 20px;
    width: 22px;
    height: 22px;
}

.check_in input[type="radio"]:checked+label:after {
    background: url(../images/check-pic.jpg);
    background-repeat: no-repeat;
    background-position: center 1px;
}

.check_in label span {
    color: #333;
}

.add-cart .btn-default {
    min-width: 250px;
}

.overview {
    padding: 80px 0;
}

.over-iiner {
    margin-bottom: 40px;
}

.overview h3 {
    font-size: 18px;
    font-weight: 700;
    color: #666;
    margin: 0 0 20px;
}

.overview p {
    font-size: 18px;
}

.overview .market-table-outer {
    padding: 0;
    background: #f9f9f9;
    margin-top: 25px;
}

.overview .slider-detail {
    margin-top: 0;
    padding: 20px 0;
}

.overview .slider-detail h3 {
    font-weight: 300;
    text-align: left;
    font-style: normal;
    margin-bottom: 0;
}

.top-marg {
    margin-top: 20px;
}

.showDiv {
    text-align: center;
    background: #fafafa;
    margin-top: 25px;
    padding: 15px 0 0;
}

.showDiv ul {
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.showDiv ul li {
    display: inline-block;
    margin: 0;
    width: 32%;
}

.showDiv ul li h4 {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: none;
}

.free {
    font-size: 13px;
    color: #999;
    text-align: right;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 300;
}

.free img {
    display: inline-block;
    vertical-align: top;
}

.q_cell .minus,
.q_cell .plus,
.adlt,.q_cell #cartminus, .q_cell #cartplus {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    padding: 0;
    line-height: 10px;
}

.qnt {
    border: none;
    background: none;
    width: 20%;
    text-align: center;
}

button:focus {
    outline: none;
}

.cart-status {
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background: #f2f2f2;
    margin-top: -23px;
    text-transform: uppercase;
    font-weight: 300;
}

.cart-status a {
    color: #b41019;
}

.cart-status span {
    color: #b41019;
}

.reco-a {
    color: #b41019;
    text-align: center;
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
}

.recomend {
    display: block;
}

a.reco-a:hover {
    color: #333;
}

a.reco-a:focus {
    color: #b41019;
}

.header {
    background: #fff;
}

.header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    /*padding: 5px 0 0*/
}

.header.sticky .main_nav_outer ul.nav-list>li>a {
    padding-bottom: 20px;
}

.header.sticky .navbar-brand {
    width: 150px;
}

.dropdown-menu {
    border: 2px solid #999;
    border-radius: 15px;
    background: #fff;
    left: inherit;
    right: 0;
    margin-top: 65px;
    width: 355px;
    padding-bottom: 0;
    overflow: hidden;
}

.cart-top {
    padding: 20px 25px 0;
}

.cart-product ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 135px;
    overflow-y: auto;
}

.cart-product ul li {
/*    border-top: 1px solid #bfbfbf;*/
    margin: 0;
    display: block;
    padding: 20px 15px;
}

.cart-product ul li .cart-productName {
    display: inline-block;
    margin: 0;
}

.cart-productName h3 {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    line-height: 24px;
    margin-bottom: 5px;
}

.cart-productName h3 span {
    font-weight: 300;
    display: block;
}

.cart-productName {
    display: inline-block;
    vertical-align: top;
}

ul.nav-list li .cart-product ul li:first-child {
    margin-left: 0;
}

.cart-product ul li .cart-productName.cartpicSize {
    width: 50px;
    margin-right: 10px;
}

.cart-product ul li .cart-productName.cartText {
    width: 120px;
    margin-right: 5px;
}

.cart-product ul li .cart-productName.del {
    float: right;
}

ul.nav-list li .cart-product ul li a {
    font-size: 20px;
    color: #b1b4b9;
    font-weight: 300;
}

ul.nav-list li .cart-product ul li a:hover {
    color: #b41019;
}

.cart-productName h4 {
    color: #333;
    margin: 0;
    font-weight: 300;
}

.total-checkout {
    border-top: 1px solid #bfbfbf;
    padding: 20px 0;
}

.subtotal {
    float: left;
}

.subtotal h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
}

.subtotal h4 {
    font-size: 24px;
    color: #333;
    font-weight: 300;
    margin-top: 0;
}

.checkSide {
    float: right;
}

ul.nav-list li .checkSide a {
    color: #fff;
    padding: 12px 20px;
}

.free-shiping {
    background: #f2f2f2;
    margin: 0 -25px;
    text-align: center;
}

.free-inner {
    font-size: 16px;
    color: #333;
    font-weight: 300;
    padding: 18px 10px;
}

ul.nav-list li .free-inner a,
.free-inner a {
    color: #b41019;
    display: inline-block;
    text-transform: none;
    font-weight: 700;
}

.recomend p {
    margin-bottom: 25px;
}

.showDiv.arrow_box {
    position: relative;
    background: #fafafa;
}

.showDiv.arrow_box:after {
    bottom: 100%;
    left: 64%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    border-color: rgba(250, 250, 250, 0);
    border-bottom-color: #fafafa;
    border-width: 20px;
    margin-left: -20px;
}

body.body-bg,
body.blog,
body.archive,
body.search,
body.single {
    background: #f9f9f9;
}

.body-bg.open_nav {
    overflow: hidden;
}

.heading-marg {
    margin-top: 70px;
}

.shopping {
    padding: 50px 0;
    border-bottom: 1px solid #bfbfbf;
    background: #fff;
}

.carTop {
    padding-bottom: 45px;
}

.carTop h2 {
    display: inline-block;
}

.checkout-r {
    float: right;
}

.checkout-r a.continue-shop {
    color: #b41019;
    font-size: 16px;
    font-weight: 700;
}

.checkout-r a.continue-shop:hover {
    color: #333;
}

.checkout-r .btn-default {
    min-width: 250px;
    margin-left: 35px;
}

.checkout-table {
    width: 100%;
    display: table;
    border-bottom: 1px solid #999;
    margin-bottom: 45px;
}

.checkout-table-row {
    display: table-row;
}

.checkout-table-cell {
    display: table-cell;
    border-top: 1px solid #999;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
}

.product-view {
    color: #666;
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
}

.product-view img {
    margin-right: 30px;
}

.checkout-head .checkout-table-cell {
    font-weight: 700;
}

.checkout-table-cell a {
    color: #b1b4b9;
    font-size: 18px;
}

.checkout-table-cell a:hover {
    color: #b41019;
}

.subtotalChck {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.subtotalChck span {
    font-size: 24px;
    font-weight: 300;
}

.other-products {
    text-align: center;
    margin-top: 125px;
}

.other-products h3 {
    margin-bottom: 60px;
}

.account {
/*    display: table;*/
    width: 100%;
}

.account h2 {
    margin-bottom: 40px;
}

.account .nav-tabs>li {
    float: none;
    margin-bottom: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}

.nav-tabs>li>a {
    border-radius: 0;
    font-size: 16px;
    color: #666;
    padding: 20px 30px 18px;
    border: none;
}

.nav-tabs>li>a:hover {
    border: none;
}

.nav-tabs {
    width: 250px;
    border: none;
}

.account .tab-content {
    border-left: 1px solid #bfbfbf;
    padding: 40px 50px;
}

.account .tab-content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.account .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.account .tab-content ul li .subscriptionItem {
    width: 180px;
    float: left;
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.account .tab-content ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
    overflow: hidden;
}

.account .tab-content ul li a {
    float: right;
    color: #b41019;
    font-size: 16px;
}

.account .tab-content ul li a:hover {
    color: #333;
}

.acount {
    padding: 50px 0 0;
}

.acount h2 {
    margin-bottom: 50px;
}

.checkout-table-cell .qnt {
    width: 10%;
}

.btn-danger {
    border: 1px solid #bfbfbf;
    font-size: 16px;
    text-transform: uppercase;
    background: #fff;
    color: #999;
}

.account .tab-content ul li a.btn-danger {
    float: none;
    min-width: 250px;
    color: #999;
    padding: 9px 20px;
    margin-top: 40px;
}

.account .tab-content ul li a.btn-danger:hover {
    color: #fff;
}

.account .tab-content ul li h3.subscriptionItem {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.user-address {
    overflow: hidden;
}

.account .tab-content ul li address {
    width: 300px;
    color: #666;
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 300;
}

.account .tab-content ul li a.mail {
    float: none;
    color: #666;
}

.account .tab-content ul li a.mail:hover {
    color: #b41019;
}

.nav-cell {
    display: table-cell;
    vertical-align: top;
}

.dropdown,
.dropup {
    position: static;
}

ul.nav-dropdown li.aboutus a {
    min-width: 37px;
    min-height: 37px;
    background-image: url(../images/about-pic.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    padding: 70px 20px 20px;
}

ul.nav-dropdown li.subscrp a {
    min-width: 37px;
    min-height: 37px;
    background-image: url(../images/why.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    padding: 70px 20px 20px;
}

ul.nav-dropdown li.ouroil a {
    min-width: 37px;
    min-height: 37px;
    background-image: url(../images/oil.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    padding: 70px 20px 20px;
}

.header {
    padding-bottom: 0;
}

#menu-top-right-menu {
    margin-top: 20px;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

ul.nav-dropdown li a:focus {
    color: #fff;
}

.header.sticky #menu-top-right-menu {
    margin-top: 20px;
}

.cart-top.emptycart {
    padding: 20px;
}

.cart-top.emptycart h5 {
    text-align: center;
    font-size: 18px;
    color: #b41019;
}

.btn.btn-product {
    border: 1px solid #b41019;
    border-radius: 4px;
    font-size: 14px;
    color: #b71e26;
    padding: 10px 20px;
    position: relative;
    white-space: normal;
}

.product-box .btn-product {
    margin-top: 25px;
    position: relative;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.btn-product:hover {
    background: #b71e26;
    color: #fff;
}

.product-ab {
    position: absolute;
    left: 20px;
    z-index: 9;
    top: 10px;
    visibility: hidden;
    transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
}

.btn-product:hover .product-ab {
    visibility: visible;
}

.btn.btn-product img {
    vertical-align: -5px;
}

.checkout {
    padding: 50px 0;
    background: #f9f9f9 !important;
}

ul.checkout-process {
    list-style: none;
    margin: 0 0 70px;
    padding: 0;
}

ul.checkout-process li {
    float: left;
    margin: 0 30px;
    position: relative;
}

/* ul.checkout-process li:after {
    content: "";
    position: absolute;
    right: -30px;
    top: 6px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    width: 5px;
    height: 7px
} */

ul.checkout-process li a {
    color: #bfbfbf;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

ul.checkout-process li a:hover,
ul.checkout-process li.active a {
    color: #b41019;
}

ul.checkout-process li:first-child {
    margin-left: 0;
}

ul.checkout-process li:last-child:after {
    display: none;
}

.checkout-ship {
    margin-top: 30px;
}

.checkout-ship h3 {
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
        
}

.check-input .form-control,
.account .input-text {
    border-radius: 0;
    font-size: 16px;
    color: #666;
    text-transform: none;
    padding: 32px 15px 6px;
    box-shadow: none;
    font-weight: 600 !important;
    height: 66px;
    border: 1px solid rgba(191,191,191,0.5) !important;
}

.check-input textarea.form-control,
.account textarea.input-text.form-control {
    resize: none;
    height: 150px;
}

.check-input {
    margin-bottom: 30px;
    position: relative;
}

.select_ot select {
    border: none;
    color: #868686;
    font-size: 14px;
    height: 70px;
    padding: 0 12px;
    width: 100%;
    border-radius: 30px;
    font-weight: 300;
    cursor: pointer;
    background: #fff;
}

.select_ot {
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
}

.select_ot:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    width: 20px;
    background-color: #fff;
    content: '';
    border-radius: 0 30px 30px 0;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center center;
    pointer-events: none;
}

.select_ot select:focus {
    outline: none;
}

.check-input h3 {
    position: absolute;
    top: 10px;
    z-index: 9;
    left: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.productAmount {
    border-top: 1px solid #bfbfbf;
    padding: 30px 0 10px;
}

.productAmount ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.productAmount ul li {
    margin-bottom: 15px;
    font-size: 11px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 0;
    overflow: hidden;
}
.productAmount .woocommerce-Price-amount {
    display: block;
    text-align: right;
    font-size: 13px;
}

.cupon-box .form-control {
    height: 55px;
    border-radius: 0;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 30px;
}

.apply .btn-default {
/*    min-width: 150px*/
    padding: 8px 22px;
    font-size: 10px;
}

.shippingAddress {
    margin-top: 50px;
}

.addressList {
    border-top: 1px solid #bfbfbf;
    padding: 30px 20px;
}

.shippingAddress h3 {
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.addressList h4 {
    margin-top: 0;
    font-size: 14px;
    color: #666;
    font-weight: 700;
}

.addressList label {
    padding-left: 50px!important;
}

.addressList h5 {
    font-weight: 300;
    margin-bottom: 0;
}

.note-card a {
    font-weight: 700;
    font-size: 16px;
    color: #b41019;
}

.note-card a:hover {
    color: #333;
}

.note-card {
    margin: 50px 0 40px;
}

.nav-tabs>li.is-active>a,
.nav-tabs>li.is-active>a:focus,
.nav-tabs>li.is-active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
}

.note-card {
    border-top: 1px solid #bfbfbf;
    padding-top: 50px;
    margin-top: 0;
}

.check-input label,
.form-row label {
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.woocommerce form .form-row {
    margin-bottom: 20px;
}

.edit-account legend {
    padding-bottom: 20px;
}

.select2-container .select2-choice {
    height: 65px;
    padding-right: 15px;
}

.select2-container .select2-choice>.select2-chosen {
    line-height: 70px;
}

.cart-item {
    display: block;
}

.cart-item td {
    display: block;
    text-align: left;
}

.col-sm-6.feature-cont-col {
    margin-bottom: 50px;
}

.variation-Plan {
    display: inline-block;
}

.cart-top {
    padding: 20px 25px 0;
}

.cart-top.emptycart {
    height: inherit;
}

.variations_form .btn.btn-product {
    margin: 25px 0;
}

.product-detail .up-sells.upsells {
    display: none;
}

.variation-outer .variation-attribute_subscription-frequency,
.variation-outer .variation-Flavor,
.variation-outer .variation-Plan {
    color: #999;
}

.variation-outer .variation-attribute_subscription-frequency:hover,
.variation-outer .variation-Flavor:hover,
.variation-outer .variation-Plan:hover {
    color: #b41019;
}

.cart-tab {
    z-index: 999;
}

.product-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-box ul li {
    color: #999;
    font-size: 16px;
    font-weight: 300;
}

td.product-name a,
.cart_item_details {
    float: left;
}

.detail_page h1 {
    margin: 200px 0 30px;
    color: #b41019;
}

.edit-link a {
    color: #333;
}

.entry-content p {
    font-size: 48px;
    margin-top: 100px;
}

.detail_page header {
    border: none;
}

.header .container-fluid {
    position: relative;
}

.slick-slide img {
    display: inline-block;
    max-height: 350px
}

.slick-initialized .slick-slide {
    text-align: center;
}

.slick-slider {
    margin-bottom: 50px;
}

.slider-nav .slick-slide {
    border: 1px solid #d6d6d6;
    margin: 0 8px;
    width: 90px!important;
    float: none;
    display: inline-block;
}

.slider-nav {
    margin: 0 auto;
    text-align: center;
}

.slick-arrow {
    position: absolute;
    top: 22%;
    z-index: 99;
    background-repeat: no-repeat;
    width: 21px;
    height: 39px;
    font-size: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.slick-prev {
    left: 0;
    background-image: url(../images/left-arw.png);
}

.slick-next {
    right: 0;
    background-image: url(../images/right-arw.png);
}

.slider-nav .slick-slide {
    width: 65px!important;
}

.slick-slide:focus {
    outline: none;
}

.other-products .product-box ul li {
    font-size: 16px;
    color: #999;
    font-weight: 300;
}

.other-products .product-box h5 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin-top: 20px;
}

.account-creat {
    padding: 30px 20px;
}

.account-creat .check_in h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    margin-top: 2px;
}

.account-creat .check_in h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.account-creat input[type="radio"]+label {
    padding-left: 35px;
}

.create-part {
    text-align: center;
}

.create-part a {
    display: block;
    color: #b41019;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 700
}

.account-creat .check_in {
    display: block;
    margin-bottom: 30px;
    width: auto;
}

.modal-calculator {
    background: #fff;
    padding: 50px 50px 0;
    text-align: center;
    width: 500px;
}

.family-member {
    padding: 35px 40px;
    background: #fafafa;
    text-align: left;
    margin-bottom: 30px;
}

.member-row {
    margin-bottom: 20px;
}

.member-l {
    width: 165px;
    float: left;
    font-size: 18px;
    font-weight: 300;
}

.family-member .q_cell {
    text-align: right;
}

.modal-calculator h2 {
    margin-bottom: 35px;
}

.cart-status.cart-member {
    background: #fff;
    margin-top: 0;
    text-transform: none;
    padding: 0;
    margin-bottom: 25px;
    font-size: 16px;
    color: #333;
}

.cart-status.consultation {
    margin: 50px -50px 0;
    padding: 25px 20px;
}

.btn-cross {
    position: absolute;
    right: 10px;
    top: 0;
}

.btn-cross .close {
    font-size: 50px;
}

.btn-cross .close:hover {
    background-color: transparent!important;
    color: #b41019!important;
    opacity: 1
}

button.slick-arrow:hover {
    background-color: transparent!important;
}

.name-pic {
    background-image: url(../images/name-pic.jpg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.check-input .form-control.name-pic {
    padding-left: 50px;
}

.ph-pic {
    background-image: url(../images/ph-pic.jpg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.check-input .form-control.ph-pic {
    padding-left: 50px;
}

.mail-pic {
    background-image: url(../images/mail-pic.jpg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.check-input .form-control.mail-pic {
    padding-left: 50px;
}

.consult-cont {
    margin-bottom: 25px;
}

.modal-calculator.outer-consult {
    padding-bottom: 35px;
}

.thank-pic {
    margin-bottom: 30px;
}

.check-input input[placeholder],
[placeholder],
*[placeholder] {
    color: #666!important;
    opacity: 1!important;
    font-weight: 300!important;
}

::-webkit-input-placeholder {
    color: #666!important;
    opacity: 1!important;
    font-weight: 300!important;
}

:-moz-placeholder {
    color: #666!important;
    opacity: 1!important;
    font-weight: 300!important;
}

:-ms-input-placeholder {
    color: #666!important;
    opacity: 1!important;
    font-weight: 300!important;
}

.cart-product ul li .cart-productName h3 a {
    font-size: 13px;
}

.submit-purchase {
    padding: 30px 0;
}

.submit-purchase span {
    font-size: 24px;
    font-weight: 300;
    color: #3f3f3f;
    display: inline-block;
    margin-left: 20px;
}

.submit-purchase p {
    margin-top: 20px;
}

.address-border {
    border-top: 1px solid #cfcfcf;
    padding: 30px 0;
}

.address-w {
    width: 50%;
    float: left;
    padding-right: 80px;
}

.user-address h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.address-w address {
    color: #999;
    font-weight: 300;
    margin-bottom: 10px;
}

.address-w a {
    display: block;
    color: #b41019;
}

.address-w a:hover {
    color: #333;
}

.productAmount.review-pro {
    width: 280px;
    float: right;
    border-top: none;
    padding-top: 0;
}

.checkout-table-cell img {
    width: 50px;
    float: left;
}

.nav-links span,
.nav-links a {
    border-radius: 50%;
    padding: 0;
    color: #333;
    text-align: center;
    line-height: 31px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.nav-links a:hover,
.nav-links span.current {
    background: #b41019;
    color: #fff;
}

.div-radio {
    overflow: hidden;
}

.div-radio .check_in {
    display: block;
}

.searcl-l {
    background: #fff;
    padding: 6px 20px;
    overflow: hidden;
    width: 88%;
    float: left;
}

.detail-srchBox {
    position: relative;
    background-image: url(../images/search.jpg);
    background-repeat: no-repeat;
    width: 70%;
    float: left;
    background-position: left center;
}

.detail-srchBox .form-control {
    margin-left: 20px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #ccc;
    border-right: 1px solid #ccc;
}

.detail-select {
    float: left;
    padding-left: 40px;
    width: 30%;
}

.detail-select .select_ot {
    border: none;
}

.detail-select .select_ot select {
    height: 30px;
}

.detail-search {
    float: left;
}

.detail-search .btn-default {
    border-radius: 0;
}

.blog-top {
    margin: 25px 0;
}

.top-search span {
    color: #aeaeae;
    font-size: 16px;
    font-weight: 300;
}

.top-search {
    margin-top: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3
}

.top-search .breadcrumb {
    display: inline-block;
    background-color: transparent;
    margin-bottom: 0;
}

.top-search .breadcrumb li a,
.top-search .breadcrumb li {
    color: #b30f16;
    font-size: 14px;
    font-weight: 300;
}

.blog-containt {
    margin-top: 30px;
}

.blog-left {
    background: #fff
}

.blog-status {
    border-bottom: 1px solid #f6f6f6;
    padding: 20px 25px;
}

.customer-health {
    float: left;
}

.customer-health a {
    font-size: 14px;
    color: #999;
}

.customer-health a:hover {
    color: #b41019;
}

.customer-health a .fa {
    margin-right: 15px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.customer-social {
    float: right;
}

.customer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.customer-social ul li {
    float: left;
    margin-left: 40px;
}

.customer-social ul li a {
    color: #999;
    font-size: 14px;
}

.customer-social ul li a .fa {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.customer-social ul li a:hover {
    color: #b41019;
}

.blog-box {
    padding: 30px 20px 0px 20px;
    position: relative;
}

.blog-news-date {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
}

.blog-news-date a {
    font-size: 12px;
    color: #b41019;
}

.blog-box h2 {
    margin-bottom: 30px;
}

.blog-box h2 {
    font-size: 28px;
    color: #333;
}

.blog-img {
    margin-bottom: 40px;
}

.blog-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.tags {
    margin-bottom: 30px;
}

.tags span {
    font-size: 16px;
    color: #666;
    font-weight: 300;
    float: left;
}

.tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 40px;
}

.tags ul li {
    float: left;
    position: relative;
    margin: 0 5px;
}

.tags ul li a {
    font-size: 16px;
    color: #b41019;
    font-weight: 300;
}

.tags ul li:after {
    content: "/";
    position: absolute;
    right: -7px;
    top: 2px;
}

.tags ul li a:hover {
    color: #666;
}

.tags ul li:last-child:after {
    display: none;
}

.innovation {
    background: #f6f6f6;
    padding: 30px;
    margin-bottom: 70px;
}

.inoo-pic {
    float: left;
    width: 55px;
    height: 63px;
}

.inno-text {
    margin-left: 75px;
}

.inno-text h3 {
    font-size: 16px;
}

.like-blog h3 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}

.like-blog .blog_cont h3 {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}

.like-blog .blog_cont {
    text-align: center;
}

.like-blog .blog_img {
    margin-bottom: 30px;
}

.leave-reply h3 {
    color: #333;
}

.leave-reply {
    margin-top: 15px;
    border-top: 1px solid #bbb;
    padding-top: 15px;
}

.like-blog{
    border-top: 1px solid #bbb;
    padding-top: 15px;
}

.inno-text p {
    margin-bottom: 0;
}

.widget_categories {
    margin-top: 50px;
}

.widget_categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_categories ul li {
    margin-bottom: 10px;
}

.widget_categories ul li a {
    font-size: 16px;
    color: #666;
    font-weight: 300;
}

.widget_categories ul li a:hover {
    color: #b41019;
}

.widget_categories h3,
.widget_categories h2.widget-title {
    color: #333;
    font-size: 18px;
    margin-top: 0;
    font-weight: 400;
}

.review-pro .btn-default {
    float: right;
}

.blog-banner .seq-list {
    background-color: #fff;
    background-size: auto;
    padding: 70px 0 50px;
    background-position: 0 -5px;
}

.blog-banner {
    background: #fff;
    padding: 60px 30px;
}

.blog-banner h2 a {
    font-size: 26px;
    color: #333;
    margin-bottom: 30px;
}

.blog-banner h2 {
    margin-bottom: 30px;
}

.blog-banner h2 a:hover {
    color: #b41019;
}

.blog-banner .seq-list p {
    font-size: 16px;
}

.top-search.list-top {
    border-bottom: none;
}

.blog-listing {
    margin-bottom: 30px;
}

.blog-list-pic {
    width: 270px;
    overflow: hidden;
    float: left;
}

.blog-list-text {
    margin-left: 300px;
}

.blog-news-date h3 {
    font-size: 18px;
    color: #333;
}

.customer-social.list-social {
    float: none;
}

.customer-social.list-social ul li {
    margin-left: 0;
    margin-right: 40px;
}

.blog-list-text h3 a {
    color: #333;
}

.blog-list-text h3 a:hover {
    color: #b41019;
}

.blog-list-pic {
    display: block;
}

.admin-bar .blog-top {
    margin-top: 55px;
}

.blog-banner .col-sm-offset-2 {
    padding: 50px 15px;
}

.container-fluid.nav-fluid {
    position: static;
}

.new-heading h2 {
    margin: 0;
    text-transform: capitalize;
}

.new-heading {
    padding: 10px 15px;
}

#ship-to-different-address {
    position: relative;
    cursor: pointer;
    color: #b41019;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#ship-to-different-address:hover {
    color: #333;
}

.address-plus:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "\f067";
    font-family: 'FontAwesome';
    background: #f9f9f9;
    font-size: 12px;
    width: 15px;
}

.leave-reply ol.comment-list,
.leave-reply ol.children {
    list-style: none;
}

.address-plus.address-minus:after {
    content: "\f068";
}

.lost-p {
    font-size: 14px;
    color: #999;
}

.paswrd-center {
    text-align: center;
    padding-bottom: 30px;
}
.lost_password {
    text-align: center;
}
.lost_password a {
    color: #b41019;
    text-transform: uppercase;
}

.lost_password a:hover {
    color: #333;
}

#customer_login {
    padding-bottom: 30px;
}

ul.woocommerce-error li a {
    color: #fff;
    font-weight: 700;
}

ul.woocommerce-error li a:hover {
    color: #ddd;
}

.seq-l {
    position: absolute;
    left: 0;
    top: 0;
}

.col-sm-6.seq-l {
    padding: 0;
}

.seq-inner {
    padding: 120px 0;
}

.seq-odd {
    background: #f6f6f6;
}

.seq-list img {
    width: 100%;
}

.why-us {
    background: #fff;
}

.why-cont {
    padding: 70px 0 0;
    background: #f6f6f6;
    text-align: center;
}

.why-box {
    padding: 0 15px;
    display: inline-block;
    width: 370px;
    text-align: center;
    margin-bottom: 100px;
}

.why-pic {
    margin-bottom: 40px;
    display: block;
}

.why-box h3 {
    margin-bottom: 25px;
}

.why-box h3 a {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.why-box h3 a:hover {
    color: #b41019;
}

.why-box p {
    font-size: 18px;
    color: #666;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding: 15px 0;
    margin-top: 30px;
    overflow: hidden;
}

.footer-btm-l {
    float: left;
    font-size: 14px;
    color: #999;
    font-weight: 300;
    margin-top: 3px;
}

.footer-btm-r {
    font-size: 16px;
    color: #999;
    font-weight: 300;
    float: right;
}

.footer-btm-r a {
    margin-left: 10px;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    bottom: 0;
    z-index: 99;
}

.body-bg.open_nav .overlay {
    display: block;
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
    margin-bottom: 0;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: none;
    width: auto;
}

.woocommerce div.product div.images img {
    width: auto;
    margin: 0 auto;
}

.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    width: 90px;
    height: 90px;
    border: 1px solid #d6d6d6;
    margin-right: 15px;
    float: none;
    display: inline-block;
}

.woocommerce div.product div.images div.thumbnails {
    text-align: center;
    padding-top: 50px;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
    background: #b41019;
    font-size: 16px;
    color: #fff;
    padding: 10px;
}

.site-main {
    position: relative;
}

.woocommerce table.shop_table {
    margin-bottom: 45px;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.woocommerce table.shop_table td {
    border:none;
}

.woocommerce table.shop_table th {
    font-size: 16px;
    text-transform: uppercase;
    color: #666;
    font-weight: 400;
    padding: 14px 20px;
}

.woocommerce table.shop_table td {
    padding: 14px 20px;
}

td.product-name a {
    font-size: 16px;
    color: #666;
    font-weight: 300;
}

td.product-name a:hover {
    color: #b41019;
}

td.product-name a img {
    margin-right: 30px;
}

.woocommerce ul.products li.product a img {
    margin: 0 auto;
    width: auto;
}

.variation,
.woocommerce td.product-name dl.variation {
    margin: 20px 0 0 0;
}

.woocommerce td.product-name dl.variation dd {
    margin-bottom: 0;
    padding: 0;
}

td.product-price span,
td.product-subtotal span,
.qnt {
    color: #333;
    font-size: 15px;
    font-weight: 300;
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
}

.product-name {
    width: 43%;
}

td.product-price,
td.product-subtotal {
    text-align: center;
}

.product-price,
.product-subtotal,
.product-quantity {
    text-align: center;
}

.cartText .variation {
    margin-left: 0;
    margin-top: 10px;
}

.cart-productName h4 {
    font-size: 15px;
}

.dropdown-menu.minicartdisplay {
    top: 0;
}

.cart-item:last-child {
    display: block;
}

.cart-productName h3 a {
    font-size: 20px;
    color: #333;
    font-weight: 300;
}

.cart-productName.del a {
    color: #999;
    font-size: 20px;
}

.cart-productName h3 a {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.cart-productName.del a:hover,
.cart-productName h3 a:hover {
    color: #b41019;
}

.woocommerce table.shop_table_responsive tr td,
.woocommerce-page table.shop_table_responsive tr td {
    white-space: nowrap;
}

.cartnew_page {
    white-space: nowrap;
    overflow: hidden;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: none;
    height: 40px;
    width: 150px;
}

/*
body.page-template-myaccount {
    background: #f9f9f9
}
*/

.variation-Flavor,
.variation-SubscriptionFrequency {
    display: inline-block;
}

.woocommerce table.shop_table th {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.woocommerce table.shop_table_responsive tr td,
.woocommerce-page table.shop_table_responsive tr td {
    font-size: 16px;
    font-weight: 300;
    color: #666;
    white-space: normal;
}

.woocommerce table.shop_table_responsive tr td a,
.woocommerce-page table.shop_table_responsive tr td a {
    color: #b41019;
}

.woocommerce table.shop_table_responsive tr td a:hover,
.woocommerce-page table.shop_table_responsive tr td a:hover {
    color: #666;
}

.woocommerce table.shop_table_responsive tr.cart_item td a,
.woocommerce-page table.shop_table_responsive tr.cart_item td a {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.woocommerce table.shop_table_responsive tr.cart_item td a:hover,
.woocommerce-page table.shop_table_responsive tr.cart_item td a:hover {
    color: #b41019;
}

.woocommerce .account table.shop_table td,
.woocommerce table.shop_table th {
    padding: 15px;
    border-right: 1px solid #eee;
}

.woocommerce table.shop_table_responsive tr td a.btn.cancel,
.woocommerce-page table.shop_table_responsive tr td a.btn.cancel {
    color: #fff;
}

.woocommerce table.shop_table_responsive tr td a.btn {
    margin: 0 5px;
    display: inline;
}

.woocommerce div.product form.cart .variations label {
    font-weight: 300;
}

.select2-container .select2-choice:focus {
    outline: none!important;
    border: none!important;
}

.woocommerce .account form .form-row .input-checkbox {
    margin-top: 4px
}

.woocommerce .account form .form-row label.checkbox,
.woocommerce-page .account form .form-row label.checkbox {
    padding-left: 25px;
}

.woocommerce table.shop_table {
    border: none;
    background: #fff;
}

.woocommerce table.shop_table td {
    border: none;
}

ul.wcsatt-options-product {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.wcsatt-options li,
ul.wcsatt-options-cart li,
ul.wcsatt-options-product li {
    margin-bottom: 10px;
}

.woocommerce .quantity .qty {
    width: 20%;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    width: 455px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);    
     padding: 73px 78px 65px;
    background-color: #F7F7F7;
}


.account .woocommerce form.login {
    margin-bottom: 50px;
    border: none;
}

.account .login h2 {
    margin-bottom: 30px;
}

.account .register h2 {
    margin-bottom: 30px;
}

.single_variation_wrap .price {
    display: none;
}

.dropdown-menu.cart-product {
    padding: 0;
}

.variation {
    margin-top: 10px;
}

.variation-Plan p,
.variation-Flavor p {
    margin-bottom: 0;
}

.woocommerce table.shop_table th {
    font-size: 14px;
}

.admin-bar .heading-marg {
    margin-top: 52px;
}

.admin-bar .header {
    margin-top: 30px;
}

.admin-bar .cart-tab {
    top: 60px;
}

.admin-bar .shopping {
    padding-top: 90px;
}

.woocommerce a.added_to_cart {
    margin-left: 20px;
    color: #666;
    font-size: 16px;
}

.woocommerce a.added_to_cart:hover {
    color: #b41019;
}

.woocommerce .shopping-detail table.shop_table {
    margin-bottom: 30px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 400;
    background: #b41019;
    opacity: 1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #8d040c;
    color: #fff;
}

.logged-in .account {
    border-top: 1px solid #bfbfbf;
}

.woocommerce form .form-row label.inline {
    margin-left: 20px;
}

.btn-default.focus,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
button:hover {
    background-color: #8d040c!important;
    color: #fff!important;
}

.checkout_billing.logged-in .account {
    border-top: none;
}

#checkout_timeline.text li.active {
    font-weight: 400;
    color: #b41019;
}

ul.checkout-process li {
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 30px;
    position: relative;
    color: #bfbfbf;
    font-weight: 700;
}

#checkout_timeline li {
    font-size: 12px;
}

#checkout_timeline.horizontal.text li:not(:last-child) .timeline-wrapper:after {
    display: none;
    padding-right: 0;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 40px;
}

.woocommerce-error:before {
    display: none;
}

.woocommerce div.product form.cart .button {
    float: none;
}

.spj {
    margin-top: 15px;
}

.check_in h4 {
    margin-top: 4px;
}

.cart-product .productAmount ul {
    overflow: inherit;
    max-height: inherit;
}

.cart-sidebar .shippingAddress {
    margin-top: 30px;
}

.cart-sidebar .check_in {
    width: auto;
}

.cart-sidebar .addressList {
    border-top: 1px solid #bfbfbf;
    padding: 20px 20px 12px;
}

.checkout.woocommerce-checkout {
    padding-bottom: 0;
}

.logged-in .checkout_shipping.account,
.logged-in .account {
    border: none;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #fff;
}

/*  changes added by Amit */

.woocommerce-checkout-payment {
    padding:20px !important;
}

.woocommerce-checkout #payment ul.payment_methods {
    border: none !important;
} 

.woocommerce-checkout #payment div.form-row {
    display: none !important;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color: #fff;
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
    display: none;
}

.woocommerce form .main-checkout .form-row label {
    display: inline-block;
    vertical-align: middle;
}

.checkout.woocommerce-checkout {
    padding: 10px 0;
}

#ship-to-different-address .input-checkbox {
    float: left;
    margin-right: 10px;
    width: 5px;
    height: 5px;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    padding: 0;
}

.woocommerce-error,
.woocommerce-message {
    position: static;
    transform: none;
    border-top: none;
}

.woocommerce-message {
    color: #81930c;
    font-size: 16px;
}

.woocommerce .order_details li {
    padding: 20px;
}

.blog_single {
    padding-top: 50px;
}

.blog_single h2 {
    margin-bottom: 40px;
}

h2.screen-reader-text {
    display: none;
}

.blog_single .blog_img {
    margin-bottom: 10px;
    width: 460px;
    float: left;
    margin-right: 25px;
}

.comment-author,
.comment-metadata {
    margin-bottom: 15px;
}

.comment-author img {
    margin-right: 10px;
}

.comments-area ol {
    list-style: none;
}

.comment-body {
    margin-bottom: 15px;
}

.blog-det .product-box {
    min-height: 510px;
}

.q_cell.quantity button img {
    width: 12px!important;
}

#order_checkout_payment .user-address h3 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

#order_checkout_payment .checkout-table-row {
    text-align: center;
}

#order_checkout_payment .checkout-table-row:first-child {
    text-align: left;
}

#order_checkout_payment .checkout-head .checkout-table-cell {
    font-weight: 400;
}

.woocommerce-thankyou-order-received,
.woocommerce-message {
    text-align: center;
    background: #439c43;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 10px!important;
}

.woocommerce .order_details li {
    font-size: 14px;
}

.woocommerce .order_details li strong {
    font-size: 13px;
    margin-top: 8px;
}

.woocommerce .order_details {
    padding: 0;
}

.col2-set.addresses address {
    padding-top: 20px;
}

.searchandfilter ul {
    display: block;
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.searchandfilter ul li {
    background: #fff;
    padding: 13px 0;
}

.searchandfilter ul li input[type="text"] {
    border: none;
    width: 100%;
    padding-left: 50px;
    color: #999;
    border-right: 1px solid #ccc;
}

.searchandfilter ul li input[type="text"]:focus,
.searchandfilter .postform:focus {
    outline: none;
}

.searchandfilter ul li:first-child {
    width: 63%;
    position: relative;
}

.searchandfilter ul li:first-child:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 10px;
    background-image: url(../images/search.jpg);
    width: 22px;
    height: 22px;
}

.searchandfilter .postform {
    border: none;
    width: 100%;
    padding-left: 20px;
    color: #999;
    font-weight: 300;
    cursor: pointer
}

.searchandfilter ul li:nth-child(2) {
    width: 25%;
    position: relative;
}

.searchandfilter ul li:nth-child(2):after {
    position: absolute;
    content: "";
    background-image: url(../images/select-arrow.png);
    right: 0;
    width: 35px;
    top: 0;
    background-color: #fff;
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    border: none;
    background-repeat: no-repeat;
    bottom: 0;
    background-position: center center;
    -webkit-appearance: none;
}

.searchandfilter ul li input[type="submit"] {
    font-size: 16px;
    color: #fff!important;
    text-transform: uppercase;
    background: #b41019!important;
    padding: 12px 35px;
    border-radius: 4px;
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    border-radius: 0;
}

.searchandfilter ul li input[type="submit"]:hover {
    background: #8d040c!important;
    color: #fff!important;
}

.searchandfilter ul li:last-child {
    padding-right: 0;
    background: none;
    padding: 0;
}

div[id*='ajaxsearchlite'].wpdreams_asl_container {
    padding: 10px;
}

div[id*="ajaxsearchlite"] .probox .prosettings .innericon svg,
div[id*="ajaxsearchlite"] .probox .promagnifier .innericon svg {
    fill: #999999;
    -webkit-fill: #999999;
    -moz-fill: #999999;
    -ms-fill: #999999;
    -o-fill: #999999;
}

div[id*='ajaxsearchlite'] .probox .proclose svg {
    background: #999999;
}

div[id*="ajaxsearchlite"] {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.woocommerce-shipping-fields,
.woocommerce-shipping-fields label {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

.row.timeline-horizontal {
    margin: 0;
}

.woocommerce form.register {
    border: none;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: none;
}

.button.view {
    padding: 8px 10px!important;
    font-size: 12px!important;
}

/*input.form-control:valid~label,*/
input.form-control:focus+label {
    top: 0;
}


/*.check-input label {
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 12px
}*/

/*.ldd {
    position: relative
}*/

.ldd:after {
    content: "";
    background-image: url(../images/loader.png);
    position: fixed;
    width: 55px;
    height: 55px;
    top: 50%;
    z-index: 9999;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 0;
    animation: loader 5s linear infinite;
    -webkit-animation: loader 5s linear infinite;
    -moz-animation: loader 5s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

.testi_cont span {
    display: block;
}

.testi_cont span p {
    font-weight: 700;
}

.contactClass {
    padding: 30px 0;
}

.contactTop {
    margin-bottom: 30px;
}
.woocommerce .account table.shop_table td:last-child {
	width: 280px;
}
.seq-outer {
    position: relative;
}
.text-container {
   position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.seq-outer:nth-child(2n) .text-container {
     margin-right: 170px;
    
}
.seq-list {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 470px 0 0;
    background-position: center right;
}
.seq-outer:nth-child(2n) .seq-list {
    background-position: center left;
}
ul.header_right_mnu { 
    width: 220px;
    margin: 0;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0px 6px rgba(0,0,0,0.2);
    position: absolute;
    left: 90px;
    top: 70px;
    display: none;
    transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -moz-transition: all 300ms ease-in-out;
    text-align: left;
}
ul.header_right_mnu li {margin: 0 0 10px; display: block;}
ul.header_right_mnu li:first-child {
    margin-left: 0;
}
ul.nav-list li.hide_mobile  {
     padding-bottom: 15px;
}
.blog_home{
    height: 240px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-position: center;
}

.woocommerce table.shop_table tbody th {
    border: none !important;
}

.recurring-totals th {
    background: #f9f9f9;
}

#shipping_method .check-in {
    width:100%;
}
.about-oil .seq-list {
    background-position: center left;
}
.about-oil .seq-outer:nth-child(2n) .seq-list {
    background-position: center right;
}
 .about-oil .seq-outer .text-container {
     margin-right: 170px;
    margin-left: auto;
 }
 .about-oil .seq-outer:nth-child(2n) .text-container {
    margin-left: 170px;
    margin-right: auto;
 }
 .checkout_shipping .check_in {
    display: block;
    width: auto;
 }
.checkout_shipping thead th {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.checkout_shipping th h3 {
    font-size: 14px;
    margin-bottom: 0;
}
.page-template-phone-order .default-page .entry-content p {
    font-size: 14px;
}
.page-template-phone-order table.one_page_product_list dt {
    width: auto !important;
}
.woocommerce ul#shipping_method li, .shipping.recurring-total ul li {
    text-indent: inherit !important;
}
.woocommerce ul#shipping_method li label, .shipping.recurring-total ul li label {
    display: block;
}
.page-template-phone-order table.one_page_product_list tr td {
    padding-bottom: 15px;
}
.page-template-phone-order table.one_page_product_list {
    margin-top: 20px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    white-space: normal !important;
}
 .page-template-phone-order .variation, .page-template-phone-order .woocommerce td.product-name dl.variation {
        margin-top: 30px;
    }
.page-template-myaccount .account .tab-content {
    padding: 0 50px;
}
.page-template-myaccount .woocommerce table.my_account_orders .order-actions {
    text-align: center;
}

.page-template-myaccount .woocommerce table.shop_table th {
    padding-bottom: 0;
    border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
    font-size: 13px;
}
.page-template-myaccount .acount h2 {
    margin-bottom: 20px;
   
}
.page-template-myaccount .woocommerce .account table.shop_table td, .page-template-myaccount .woocommerce table.shop_table th {
    width: inherit;
    text-align: left;
}
.page-template-myaccount .woocommerce table.shop_table.order_details th {
    border-bottom: none;
}
.page-template-myaccount .woocommerce a.button {
    font-size: 12px;
}

td.shipping-product .cart-productName {
    font-size: 15px !important;
}

.cart-productName h4 {
    font-size: 13px !important;
}

.woocommerce-shipping-contents h4 {
    font-weight: bold !important;
    font-size: 15px !important;
    text-transform: capitalize !important;
    color: #333 !important;
}


th.package_price {
    font-weight: 300 !important;
    color: #999 !important;
    font-size: 13px !important;
}

.woocommerce ul#shipping_method li label, .shipping.recurring-total ul li label {
    text-transform: none;
}

h3.shipping_help {
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    font-size: 18px !important;
    text-transform: capitalize;
}

h3.order_total {
    color: #333 !important;
    font-size: 18px !important;
}

.woocommerce ul#shipping_method li label, .shipping.recurring-total ul li label {
    text-transform: none;
}
.page-template-myaccount .woocommerce form .form-row {
    text-align: center;
    margin-bottom: 10px;
}
.caret {
    display: none;
}
.checkout-ship .cart-productName h3 {
    letter-spacing: normal;
    font-size: 13px;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border-color: rgba(191,191,191,0.5) !important;
}
#checkout_timeline li {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.register .form-row,.login .form-row {
    text-align: center;
}
.page-template-checkout .woocommerce form .form-row label.inline {
    display: block;
    margin-left: 0;
    margin-top: 20px;
}
.page-template-checkout .checkout {
    background: #fff !important;
}
.show_checkout_login_reminder h2.chkoutpg {
    display: none;
}
.logged-in.show_checkout_login_reminder form.checkout {
    display: block;
}
.woocommerce-checkout #payment div.payment_box input.input-text.wpcredit {
    font-size: inherit;
       padding: 32px 15px 6px;
}
/*Achintya*/
.woocommerce_cart .carTop .checkout-r a.continue-shop{
    border-bottom: 1px solid #b41019;
}
.woocommerce_cart .carTop .checkout-r a.continue-shop:hover{
    border-bottom: 1px solid #000;
}

.woocommerce_cart .carTop h2{
    letter-spacing: 0.16em;
    text-transform: uppercase;
}
.woocommerce_cart .carTop .checkout-r a.continue-shop {
    font-size: 13px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    line-height: 1.8em;
}
.woocommerce_cart .carTop .checkout-r .btn-default{
   letter-spacing: 0.16em;
    font-weight: bold;
}
.woocommerce_cart.woocommerce.woocommerce_cart table.shop_table tr td, .woocommerce_cart.woocommerce.woocommerce_cart table.shop_table tr th{
    padding: 15px 0;
}
.woocommerce_cart.woocommerce .quantity .qty {
    width: 15%;
    border: 1px solid #ccc;
    padding: 10px 0;
}
.woocommerce_cart .q_cell .minus, .woocommerce_cart .q_cell .plus, .woocommerce_cart .adlt{
    height: 22px;
    width: 22px;
}
.woocommerce_cart table.shop_table th {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

.woocommerce_cart td.product-name a, .woocommerce_cart.woocommerce table.shop_table_responsive tr td, .woocommerce_cart.woocommerce-page table.shop_table_responsive tr td, .woocommerce_cart td.product-price span, .woocommerce_cart td.product-subtotal span, .qnt{
    font-size: 13px;
}
.woocommerce_cart td.product-name a, .cart_item_details{
    line-height: 40px;
}
.woocommerce_cart .other-products{
    text-align: left;
    margin-top: 0;
}
.woocommerce_cart .checkout-r .btn.btn-custom{
    display: block;
    margin-left: 0;
    letter-spacing: 0.16em;
    font-weight: bold;
}

.woocommerce_cart .checkout-r span{
    margin-bottom: 17px;
}
.woocommerce_cart .checkout-r span + span{
    margin-left: 97px;
}
.woocommerce_cart .box-pic{
    float: left;
    width: 35%;
    margin-right: 10px;
}
.woocommerce_cart .feature-cont-col + .feature-cont-col{
    margin-top: 20px;
}
.woocommerce_cart .feature-cont-col{
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
    max-width: 38%;
}
.woocommerce_cart .product-details-Icon {
    position: absolute;
    top: 50%;
    left: -9px;
    font-size: 16px;
    color: #8d040c;
    margin-top: -10px;
}
#myModal_413 .modal-header .button:hover{
    background: transparent!important;
    color: #000!important;
}
.woocommerce_cart .feature-cont-col .fa{
    border: 1px solid #8d040c;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
}
.woocommerce_cart .feature-cont-col:hover .fa{
    background: #8d040c;
    color: #fff;
}
.woocommerce_cart .feature-cont-col:hover{
    border: 2px solid #8d040c;
    border-radius: 10px;
}
.woocommerce_cart .cart-modal{
    margin-top: 130px;
}
.woocommerce_cart .modal-header{
    padding: 10px 15px 0;
    border-bottom: 1px solid transparent;
}
.woocommerce_cart .custom-product-detailsA h2{
    margin-bottom: 10px;
}
.woocommerce_cart .custom-product-detailsA > span{
  font-size: 24px;
   letter-spacing: 0.9px;
   line-height: 32px;
}
.woocommerce_cart .custom-product-detailsA p{
font-size: 13px;
letter-spacing: 0.5px;
line-height: 24px;
text-transform: none;
display: block;
padding: 0;
margin-bottom: 10px;
}
.woocommerce_cart .custom-product-detailsA + .custom-product-detailsA{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.woocommerce_cart.woocommerce .pull-right .quantity .qty{
    padding: 2px 0;
}
.woocommerce_cart.woocommerce .pull-right .q_cell.quantity {
    margin-bottom: 10px;
}
.woocommerce_cart .custom-product-detailsA .btn{
    width: 100%;
}
.box-text ul{
    display: none;
}
.woocommerce_cart .box-pic{
    height: 100%;
    line-height: normal;
    padding: 10px 0;
}
.woocommerce_cart .checkout-r .woocommerce-Price-amount.amount{
    font-size: 24px;
}
.woocommerce_cart .checkout-r .btn-default{
    margin-left: 15px;
}
.checkout_shipping.account .woocommerce table.shop_table{
    border: 1px solid #eee;
}
.checkout_shipping.account .shipping_help{
    background: #f9f9f9;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
}
.checkout_shipping.account .shop_table .shipping_help{
    border: 1px solid transparent;
}
.woocommerce .checkout_shipping.account table.shop_table {
    border: 1px solid rgba(0,0,0,.1) !important;
}
.woocommerce .checkout_shipping.account .account table.shop_table td, .woocommerce .checkout_shipping.account table.shop_table th{
    border-right: 1px solid transparent;
}
.cart-productName.cartText h3{
    margin-bottom: 2px;
}
.checkout_shipping.account .note-card{
    border-top: 1px solid transparent;
    padding-top: 0;
}
.cart-modal button:hover {
    background-color: transparent!important;
    color: #000!important;
    opacity: 1!important;
}
/*13-01-17*/
.cart-product ul li{
    position: relative;
}
.cart-top .cart_flavor {
    margin-left: 64px;
}
.woocommerce-shipping-fields .form-row label{
    left: 0;
}
.cart-product ul li .cart-productName.cartpicSize{
    height: 50px;
}
.woocommerce-checkout .productAmount ul li{
    font-size: 13px;
}

/* CSS for Multistep checkout */


#checkout_timeline li .timeline-wrapper .timeline-step {
    padding: 5px 10px;
}

#checkout_timeline.style1 li.active .timeline-wrapper .timeline-step {
    background-color: #b41019;
}

#checkout_timeline.style1 li.active .timeline-wrapper {
    background-color: #E8B7B9;

}

#checkout_timeline.style1 li.active .timeline-wrapper .timeline-label {
    color: #222;
}

#checkout_timeline:not(.text) li {
    font-size: 12px;
}


.woocommerce ul#shipping_method .amount {
    font-weight: 500;
}


.cart-tab.right {
right:25px;
}

div[id*='ajaxsearchlite'].wpdreams_asl_container {
    width: 75% !important;
    margin: 0px 0px 0px 0px;
    margin-left: 12% !important;
}
.woocommerce #reviews #comments ol.commentlist,
.woocommerce #reviews #comments ol.commentlist li .comment-text  {
    padding: 0;
}
.woocommerce #reviews #comments ol.commentlist {
    max-height: 465px;
    overflow: auto;
}
.woocommerce .comment-text .star-rating,
.woocommerce .comment-text > p.meta {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0 !important;
    margin-right: 10px;
}
.woocommerce .star-rating span strong {
    font-size: 0;
}

.woocommerce .star-rating span:before {
    color: #b41019;
}
.woocommerce .star-rating:before {
    color: #b41019;
   }
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border-radius: 0;
    padding:0 10px 5px 40px;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px dashed #b41019;
    margin-left: 0 !important;
}
.description {
    margin: 10px 0;
    font-style: italic;
}
.woocommerce #reviews h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #b41019;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}
.woocommerce #reviews h3:before,
.woocommerce #reviews h3:after {
    position: absolute;
    content:'';
    width: 12px;
    height: 3px;
    background: #b41019;
}
.woocommerce.single #reviews h3:before, 
.woocommerce.single #reviews h3:after{
    background: #ffffff;
    margin-left: 8px;
}
.woocommerce #reviews h3:before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.woocommerce #reviews h3:after {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
}
.comment-form label {
    width: 100%;
    margin-bottom: 0 !important;
    line-height: 36px;
    font-size: 16px;
    vertical-align: top;
}
.comment-form input,
.woocommerce #reviews .comment-form #comment {
    width: 100%;
    height: 36px;
    border: none;
    background: none;
    border-bottom: 1px solid #b41019;
    outline: none !important;
    font-size: 15px;
    color: #b41019;
}
.woocommerce #reviews .comment-form #comment{
    height: 84px;
    border: 1px solid #b41019;
}
.woocommerce #reviews .comment-form #comment {
    resize:vertical;
}
.comment-form > p {
    font-size: 0;
}
.comment-form-rating,
.comment-form p.stars {
    display: inline-block;
    width: auto;
}
.comment-form p.stars {
    font-size: 18px;
    display: inline-block;
    margin: 0 !important;
    vertical-align: middle;
    line-height: 36px;
}
.comment-form p.stars span {
    display: block;
    line-height: 100%;
}
/*#comments {
    width: 50%;
    float: left;
}*/
/*#review_form_wrapper {
    float: left;
    width: 50%;
    padding: 0 15px;
}*/
form#commentform {
    width: 100%;
    padding: 15px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    padding: 30px;
}
.woocommerce #review_form .form-submit input {
    margin-left: 15%;
    width: auto;
    color: #fff !important;
}
#reviews_summary {
    margin-top: 30px;
    outline: none !important;
}
#reviews_summary h3 {
    font-size: 30px;
    color: #b41019;
}
.woocommerce #reviews_summary .woocommerce-product-rating {
    margin-bottom: 10px;
}
.comment-form > p.form-submit {
    text-align: right;
}
#reviews_summary .ywar_review_count{
    display: none;
}
.woocommerce .star-rating{
    font-size: 20px;
}
.comment-list{
    padding: 0;
}
.comment-author img{
    border-radius: 50px;
}
.comment-metadata{
    font-weight: bold;
}
.reply a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #5cb85d;
    color:#fff;
}
div.reply{
    padding: 0;
/*    margin-top: 30px;*/
}
.comment-list > li{
    padding: 15px 0;
}
.comment-list > li + li{
    border-top: 1px solid #ccc;
}
.comment-list{
    position: relative;
/*    padding-left: 30px;*/
}
.children{
    position: relative;
}
.children:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left:15px;
    content: '';
    width: 3px;
    background-color:#5cb85d;
}
.comment-list {
    padding: 15px;
    background-color: #fbfbfb;
}
.comment-body{
    overflow: hidden;
}
.comment-list p{
    margin-bottom: 10px;
}
.comment-list > li > .comment-body {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.blog-list-text .blog-news-date, .blog-box .blog-news-date{
    margin-top: 0;
}
.comment-reply-title {
    padding: 10px;
    display: inline-block;
    background: #b41019;
    border-radius: 3px;
    color: #fff !important;
}
.woocommerce #reviews h3::before, .woocommerce #reviews h3::after {
    background-color: #fff !important;
    left: 8px !important;
}
form#commentform{
    padding: 20px;
}
.comment-form input, .woocommerce #reviews .comment-form #comment{
    border: 1px solid #ccc !important;
    padding: 0 15px;
    height: 44px;
}
.woocommerce #reviews .comment-form #comment{
    border: 1px solid #ccc !important;
    padding: 0 15px;
    height: 85px;
}

.woocommerce.single #reviews h3:before, .woocommerce.single #reviews h3:after {
    background: #fff;
    margin-left: 8px;
}


/*04-05-2017*/
.blog-detail  {
    margin-top: 168px;
}
.blogTopLinks ul {
    padding: 0;
    margin: 0;
}
.blogTopLinks li {
    display: inline-block;
    margin-right: 3%;
    list-style-type: none;
    padding: 0;
}
.blogTopLinks li a {
    display: inline-block;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    color: #b41019;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.blogTopLinks li.active a {
    font-weight: 700;
}
.blogTopLinks li a:hover {
    color: #333;
}
.blogTopLinks {
    text-align: center;
    background: #fff;
    padding: 15px 0;
    border-top: 1px solid #bfbfbf;
}
.sticky .blogTopLinks li a {
    font-size: 28px;
    line-height: 100%;
}
.contactBlog {
    background: #30373c;
}
.signUp, .socBlog {
    width: 50%;
    float: left;
    text-align: center;
    padding: 35px 0;
    position: relative;
}
.signUp:after {
    position: absolute;
    content: '';
    right: 0;
    height: 70%;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+17,ffffff+50,ffffff+85,e5e5e5+100&0+0,0.5+17,1+50,0.5+85,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 17%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 85%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 17%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 85%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 17%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 85%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */

}
.contactBlog h4 {
    line-height: 30px;
    margin: 0 0 2px;
    font-weight: 600;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    color: #fff;
}
.signUp-in {
    position: relative;
    max-width: 70%;
    margin: 10px auto 0;
}
.signUp-in input[type="email"] {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding: 3px 15px;
    color: #fff;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.9);
    outline: none;
    height: 42px;
}
.signUp-in input[type=email]:focus {
    border-color: #B41019;
}
.signUp-in input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 2px;
    height: 38px;
    border: none;
    width: 40px;
    border-radius: 50%;
    background: #B41019 url('../images/arrow-white.png') no-repeat center center;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.signUp-in input[type="submit"]:hover {
    background-size: 30%;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
}
.socBlog ul {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    padding: 0;
}
.socBlog li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6%;
}
.socBlog li a {
    color: #fff;
}
.socBlog li a {
    font-size: 28px;
    color: #fff;
    display: block;
}
.socBlog li a:hover {
    color: #B41019;
}
.blog-picnew {
    width: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    max-width: 310px;
    height: 100%;
    top: 0;
}
