<span style='color: #000' title='Frames'>   420</span><span style='color: #009' title='Memory'>   8192.00 KB</span><span style='color: #900' title='Time'>    360.58 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />