/* generated in /var/jet-www/html/wp-content/themes/fluid/assets/custom-styles/general-custom-styles.php fluid_edge_design_styles function */
body, .edgtf-main-menu ul li a .edgtf-menu-featured-icon.edgtf-new-text { font-family: Montserrat;}

/* generated in /var/jet-www/html/wp-content/themes/fluid/assets/custom-styles/general-custom-styles.php fluid_edge_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /var/jet-www/html/wp-content/themes/fluid/assets/custom-styles/general-custom-styles.php fluid_edge_content_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner { padding-top: 0px;}

/* generated in /var/jet-www/html/wp-content/themes/fluid/assets/custom-styles/general-custom-styles.php fluid_edge_content_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner { padding-top: 40px;}

/* generated in /var/jet-www/html/wp-content/themes/fluid/framework/modules/header/custom-styles/header.php fluid_edge_header_area_styles function */
.edgtf-page-header { background-color: rgba(221, 153, 51, 0);}

/* generated in /var/jet-www/html/wp-content/themes/fluid/framework/modules/header/custom-styles/header.php fluid_edge_vertical_menu_styles function */
.edgtf-header-vertical .edgtf-vertical-area-background { background-color: #dd9933;opacity: 0;}

/* generated in /var/jet-www/html/wp-content/themes/fluid/framework/modules/header/custom-styles/mobile-header.php fluid_edge_mobile_header_general_styles function */
.edgtf-mobile-header .edgtf-mobile-header-inner { background-color: #dd3333;}

